In [4]:
c = (1,2,3)
e = (1,2,('ab', 'cd'), 3,4,5,6,7,8)


print(e[1:10:2])
print(c+e)
print(c*2)
print(len(c))

(2, 3, 5, 7)
(1, 2, 3, 1, 2, ('ab', 'cd'), 3, 4, 5, 6, 7, 8)
(1, 2, 3, 1, 2, 3)
3

In [39]:
x,y,z = (1,2,3)
print(x,y,z)
print(x)
print(y)
print(z)

1 2 3
1
2
3

In [41]:
del type

type

In [44]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [6]:
DS = ()
print(type(DS))
t1 = (1,)
print(type(t1))
t = 1,2,3,4
print(type(t))
wish = ('구글', '아마존', '페이스북')
wish = list(wish)
print(wish)

wish1 = ['구글', '아마존', '페이스북']

wish1 = tuple(wish1)
print(wish1)
print(type(wish))
print(type(wish1))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
['구글', '아마존', '페이스북']
('구글', '아마존', '페이스북')
<class 'list'>
<class 'tuple'>

In [67]:
x = ('A', 'b', 'c')
x = list(x)
x[0] = 'a'
x = tuple(x)
print(x)

('a', 'b', 'c')

In [50]:
my_data = (1,2,3)
a,b,c = my_data
print(a + b +c)

6
<class 'int'>

In [70]:
(4,2,1,8,)+(9,)

(4, 2, 1, 8, 9)

In [90]:
dict_mina = {'sex': 'female', 'age': '30', 'name': 'mina'}
type(dict_mina)
print(dict_mina['sex'])
print(dict_mina['age'])

female
30

In [106]:
print(type({1:'good'}))
print(type({'a':[1,3,5]}))
print(type({'a':(1,3,5)}))
print(type({(1,3,5):'a'}))

<class 'dict'>
<class 'dict'>
<class 'dict'>
<class 'dict'>

In [107]:
print(type({[1,3,4]:'a'}))

TypeError: unhashable type: 'list'

In [112]:
lsw = {'name' : 'seung won Lee', 'grade' : 'senior', 'class' : '1'}

dict

In [115]:
print(lsw)
print(lsw['name'])
print(lsw['grade'])
print(lsw['class'])

{'name': 'seung won Lee', 'grade': 'senior', 'class': '1'}
seung won Lee
senior
1

In [117]:
lsw.pop('grade')
print(lsw)

{'name': 'seung won Lee', 'class': '1'}

In [120]:
lsw['sex'] = 'male'
print(lsw)
lsw['PN'] = '01012345678'
print(lsw)

{'name': 'seung won Lee', 'class': '1', 'sex': 'male'}
{'name': 'seung won Lee', 'class': '1', 'sex': 'male', 'PN': '01012345678'}

In [121]:
del lsw['sex']
print(lsw)

{'name': 'seung won Lee', 'class': '1', 'PN': '01012345678'}

In [134]:
score = {'a' : '99', 'b' : '91', 'c': '83', 'd' : '100'}
score['c']

'83'

In [135]:
name = {'name' : ['a', 'b', 'c']}

{'name': ['a', 'b', 'c']}

In [158]:
a = {'gender':'Female','age':'30','name':'Kristina'}
a.keys()

dict_keys(['gender', 'age', 'name'])

In [160]:
list(a.keys())

['gender', 'age', 'name']

In [138]:
a.values()

dict_values(['Female', '30', 'Kristina'])

In [162]:
a.items()

dict_items([('gender', 'Female'), ('age', '30'), ('name', 'Kristina')])

TypeError: get expected at least 1 argument, got 0

In [140]:
a.clear()
print(a)

{}

In [8]:
a = {'gender':'Female','age':30,'name':'Kristina'}
a.get('gender')

'Female'

In [9]:
a['height'] = '170'

In [10]:
a['gender']

'Female'

In [11]:
a.get('height')

'170'

In [12]:
a.get('height','데이터 없음')

'170'

In [145]:
'gender' in a

True

In [146]:
'height' in a

False

In [3]:
a['height'] = '170'

NameError: name 'a' is not defined

In [4]:
'height' in a

NameError: name 'a' is not defined

In [172]:
a.items()

dict_items([('gender', 'Female'), ('age', 30), ('name', 'Kristina')])

In [200]:
s = {1}
type(s)

set

In [204]:
s1 = {()}
type(s1)

set

In [206]:
s2 = set()
print(s2)
print(type(s2))

set()
<class 'set'>

In [208]:
sc = set('abcdef')
print(sc)

{'d', 'b', 'a', 'f', 'e', 'c'}

In [193]:
type(sc)

set

In [212]:
list(sc)

['d', 'b', 'a', 'f', 'e', 'c']

In [222]:
x = {1,2,3,4,5}
y = {3,4,5,6,7}
print(x&y) #xy의 교집합
print(x.intersection(y))

{3, 4, 5}
{3, 4, 5}

In [223]:
x|y #xy 합집합
print(x.union(y))

{1, 2, 3, 4, 5, 6, 7}

In [225]:
print(x-y) #x차집합
print(x.difference(y))
print(y.difference(x))

{1, 2}
{1, 2}
{6, 7}

In [217]:
y-x #y 차집합

{6, 7}

In [218]:
x^y #x차집합, y차집합 의 합

{1, 2, 6, 7}

In [238]:
x.add(10)
print(x)

{1, 2, 3, 4, 5, 10, 11, 12}

In [248]:
x.update([11,12,13])
print(x)

{13, 11, 12}

In [249]:
x.pop()
print(x)

{11, 12}

In [302]:
ds = {'메로나':1000, '폴라포':1200, '빵빠레':1800}
ds.update({'죠스바':1200,'월드콘':1500})
ds['우유'] = 1000 
print(ds)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500, '우유': 1000}

In [306]:
print('%s' %'메로나 가격 :' , ds['메로나'])

메로나 가격 : 1000

In [260]:
ds['메로나'] = 1200
print(ds)

{'메로나': 1200, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [262]:
del ds['메로나']
print(ds)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [267]:
ic = {'메로나':[300, 20], '비비빅':[400, 3], '죠스바':[250, 100]}

In [307]:
ic1 = {'이름' : ['가격', '재고'], '메로나' : [300 , 20], '비비빅' : [400, 3], '죠스바' : [250, 100]}
print(ic1)

{'이름': ['가격', '재고'], '메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [312]:
print(ic1['메로나'][0],'원')
print(ic1['메로나'][1],'원')

300 원
20 원

In [313]:
ic1['월드콘'] = [500, 7]
print(ic1)

{'이름': ['가격', '재고'], '메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [351]:
x1, x2, x3 = 2, 5, 9

print(x1 + x2)
print(x2 - x1)
print(x1 * x2)
print(x2**2)
print(x1**0.5)
print(x2 / x1)
print(x2//x1)
print(x2%x1)
print(x1 - x2)

7
3
10
25
1.4142135623730951
2.5
2
1
-3

In [352]:
a = 20
a += 5
print(a)
a -= 10
print(a)
a *= 2
print(a)
a /= 3
print(a)

25
15
30
10.0

In [353]:
c = 3
b = 2
c *= (2+b)
print(c)
c *= (b-5)
print(c)

12
-36

In [373]:
a = 95
print('1',a==90)
print('2',a!=90)
print('3',a>90)
print('4',a<90)
print('5',a<=90)
print('6',a>=90)
print('7',a>=90 and a<=100)
print('8', 100>=a>=90)
print(110>=a>=100)
print(70>=a>=80)

1 False
2 True
3 True
4 False
5 False
6 True
7 True
8 True
False
False

In [391]:
a = [1,2,'hello world']
b = [1,2,'hello world']
print(a==b)
print(a!=b)
print(id(a)==id(b))
print(id(a))
print(id(b))
a.append('A')
print(a)
print(id(a))
print(a==b)

True
False
False
140644532354560
140644525742976
[1, 2, 'hello world', 'A']
140644532354560
False

In [390]:
print(a is b) # id(a)==id(b)
print(a is not b) # id(a)!=id(b)

False
True

In [398]:
member = [1,2,'Hello World']
print(2 in member)
member.remove(2)
print(2 not in member)

True
True

In [401]:
member_dict = {'a':1, 'b':2, 'c':3}
'a' in member_dict

True

In [402]:
member_dict = {'a':1, 'b':2, 'c':3}
1 in member_dict

False

In [413]:
a = True
b = False
print(a and b)
print(a or b)
print(not a)
print(not b)
print(not (a and b))
print(not (a or b))

False
True
False
True
True
False

In [416]:
name = '홍길동'
age = 30
height = 173.7

print(name,    age,    height)

홍길동 30 173.7

In [424]:
x = 10
y = 20
print('x=' + str(x) + "," + 'y=' + str(y))

x=10,y=20

In [432]:
score1 = 80
score2 = 87

sum_12 = score1 + score2
avg_12 = sum_12/2

print("두 과목 점수 : "+str(score1)+", "+str(score2))
print("합계 : " + str(sum_12)+', '+'평균 : '+str(avg_12))

두 과목 점수 : 80, 87
합계 : 167, 평균 : 83.5

In [438]:
score1 = 80
score2 = 87

sum_12 = score1 + score2
avg_12 = sum_12/2

print('두 과목 점수 : %d,%d' %(score1, score2))
print('합계 : %d, 평균 : %.2f' %(sum_12, avg_12))

두 과목 점수 : 80,87
합계 : 167, 평균 : 83.50

In [446]:
year = 2020
month = 3
day = 5

print(year, month, day, sep='/')

2020/3/5

In [479]:
a = '안녕하세요.'
b = '반갑습니다.'
print(a, end=' ')
print(b)
print(a, end='')
print(b)

안녕하세요. 반갑습니다.
안녕하세요.반갑습니다.

In [499]:
name = input('이름을 입력하세요:')

print(name,'님 반갑습니다', sep='')

이름을 입력하세요:이승원
이승원님 반갑습니다

In [500]:
name = input('이름을 입력하세요:')

print('%s님 반갑습니다.'%name)

이름을 입력하세요:이승원
이승원님 반갑습니다.

In [506]:
n1 = input('첫 번째 숫자를 입력하세요:')
n2 = input('두 번째 숫자를 입력하세요:')

print(int(n1)+int(n2))

첫 번째 숫자를 입력하세요:10
두 번째 숫자를 입력하세요:20
30

In [513]:
a = input("인치(inch)를 입력하세요:")
print('센티미터:%.2f' %(float(a)*2.54))

인치(inch)를 입력하세요:32.8
센티미터:83.31

In [514]:
inch = float(input('인치를 입력하세요:'))
cm = inch *2.54
print('센치미터는 %.2f' %cm)

인치를 입력하세요:32.8
센치미터는 83.31

In [517]:
print("""
프로그램명 : 두 수 더하기
작성자 : 홍길동
직성일 : 2022.9.1
""")

a = 10 #변수 a에 10 저장
b = 20 #변수 b에 20 저장
c = a+b #변수 c에 a+b저장

#결과물을 출력한다.
print(c)

프로그램명 : 두 수 더하기
작성자 : 홍길동
직성일 : 2022.9.1

30

In [520]:
width = float(input('삼각형 밑변의 길이:'))
height = float(input('삼각형 높이:'))
area = width*height/2
print('삼각형의 면적:%.1f'%area)

삼각형 밑변의 길이:10
삼각형 높이:3
삼각형의 면적:15.0

In [525]:
p = int(input())
q = int(input())
m = int(input())
c = m - p * q


print("물건가격 : %d원"%p)
print("구매개수 : %d개"%q)
print("지불금액 : %d원"%m)
print("거스름돈 : %d원"%c)

800
3
5000
물건가격 : 800원
구매개수 : 3개
지불금액 : 5000원
거스름돈 : 2600원

In [523]:
p = 800
q = 3
m = 5000
c = m-p*q
print("물건가격 : %d원"%p)
print("구매개수 : %d개"%q)
print("지불금액 : %d원"%m)
print("거스름돈 : %d원"%c)

물건가격 : 800원
구매개수 : 3개
지불금액 : 5000원
거스름돈 : 2600원

In [526]:
x=20
y=4
x=y%x
print(x)
y-=x*2
print(x,y)

4
4 -4