In [184]:
name = "홍길동"
age = 30
height = 171.5

print('성 : ', name[0])
print('이름 : ', name[1:3])
print("홍길동의 나이 : %d세, 키 : %.2fcm" %(age, height))

성 :  홍
이름 :  길동
홍길동의 나이 : 30세, 키 : 171.50cm

In [190]:
name = "홍길동"
age = 30
height = 171.5

print('성 : {}'.format(name[0]))
print('이름 : ', name[1:])
print("홍길동의 나이 : %d세, 키 : %.2fcm" %(age, height))

성 : 홍
이름 :  길동
홍길동의 나이 : 30세, 키 : 171.50cm

In [17]:
name = "홍길동"
age = 30
height = 171.5

print('성 : %s' %(name[0]))
print('이름 : ', name[1:2])
print("홍길동의 나이 : %d세, 키 : %.2fcm" %(age, height))

성 : 홍
이름 :  길
홍길동의 나이 : 30세, 키 : 171.50cm

In [27]:
name = input('학생이름을 입력하세요 : ')
kor = input('국어 성적을 입력하세요 : ')
eng = input('영어 성적을 입력하세요 : ')
math = input('수학 성적을 입력하세요 : ')
s = int(kor) + int(eng) + int(math)
avg = s / 3

print('이름 %s, 국어 : %d, 영어 : %d, 수학 : %d, 평균 : %.1f점' %(name, int(kor), int(eng), int(math), int(avg))

SyntaxError: unexpected EOF while parsing (3523374901.py, line 8)

In [67]:
name = input('학생이름을 입력하세요 : ')
kor = int(input('국어 성적을 입력하세요 : '))
eng = int(input('영어 성적을 입력하세요 : '))
math = int(input('수학 성적을 입력하세요 : '))
avg = (int(kor)+int(eng)+int(math)) / 3


print('이름 : %s, 국어 : %d, 영어 : %d, 수학 : %d, 평균 : %.1f점' %(name, kor, eng, math, avg))

학생이름을 입력하세요 : tt
국어 성적을 입력하세요 : 64
영어 성적을 입력하세요 : 75
수학 성적을 입력하세요 : 856
이름 : tt, 국어 : 64, 영어 : 75, 수학 : 856, 평균 : 331.7점

In [ ]:
kor

In [58]:
#연산자 활용

a = [
    {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0},
    {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0},
    {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0}
]

# 1번 학생 정보
print(a[0])

# 1번 학생 총점
print(a[0]['total'])

# 1번 학생 총점 변경
a[0]['total'] = 1
print(a[0]['total'])

{'num': '1', 'name': '김철수', 'kor': 90, 'eng': 80, 'math': 85, 'total': 0, 'avg': 0.0, 'order': 0}
0
1

In [71]:
a[0]['total'] = a[0]['kor'] + a[0]['eng'] +a[0]['math'] #1번 학생 총점 입력
a[1]['total'] = a[1]['kor'] + a[1]['eng'] +a[1]['math'] #2번 학생 총점 입력
a[2]['total'] = a[2]['kor'] + a[2]['eng'] +a[2]['math'] #3번 학생 총점 입력
print(a[0]['total']) #1번 학생 결과 출력
print(a[1]['total']) #2번 학생 결과 출력
print(a[2]['total']) #3번 학생 결과 출력
a[0]['avg'] = a[0]['total']/3 #1번 학생 평균 입력
a[1]['avg'] = a[1]['total']/3 #2번 학생 평균 입력
a[2]['avg'] = a[2]['total']/3 #3번 학생 평균 입력
print(a[0]['avg']) #1번 학생 결과 출력
print(a[1]['avg']) #2번 학생 결과 출력
print(a[2]['avg']) #3번 학생 결과 출력

255
265
240
85.0
88.33333333333333
80.0

In [84]:
print(a)

[{'num': '1', 'name': '김철수', 'kor': 90, 'eng': 80, 'math': 85, 'total': 255, 'avg': 85.0, 'order': 0}, {'num': '2', 'name': '박제동', 'kor': 90, 'eng': 85, 'math': 90, 'total': 265, 'avg': 88.33333333333333, 'order': 0}, {'num': '3', 'name': '홍길동', 'kor': 80, 'eng': 80, 'math': 80, 'total': 240, 'avg': 80.0, 'order': 0}]

In [93]:
a.append({'학급평균':0, '국어평균':0, '영어평균':0,'수학평균':0,})
print(a)

[{'num': '1', 'name': '김철수', 'kor': 90, 'eng': 80, 'math': 85, 'total': 255, 'avg': 85.0, 'order': 0}, {'num': '2', 'name': '박제동', 'kor': 90, 'eng': 85, 'math': 90, 'total': 265, 'avg': 88.33333333333333, 'order': 0}, {'num': '3', 'name': '홍길동', 'kor': 80, 'eng': 80, 'math': 80, 'total': 240, 'avg': 80.0, 'order': 0}, {'학급평균': 0, '국어평균': 0, '영어평균': 0, '수학평균': 0}]

In [101]:
# 학급 평균 구하기
a[3]['학급평균'] = (a[0]['avg']+a[1]['avg']+a[2]['avg'])/ 3
# 국어 평균 구하기
a[3]['국어평균'] = (a[0]['kor']+a[1]['kor']+a[2]['kor'])/ 3
# 영어 평균 구하기
a[3]['영어평균'] = (a[0]['eng']+a[1]['eng']+a[2]['eng'])/ 3
# 수학 평균 구하기
a[3]['수학평균'] = (a[0]['math']+a[1]['math']+a[2]['math'])/3

print('%.2f' %a[3]['학급평균'])
print('%.2f' %a[3]['국어평균'])
print('%.2f' %a[3]['영어평균'])
print('%.2f' %a[3]['수학평균'])

84.44
86.67
81.67
85.00

In [109]:
if True:
    print('참입니다')
else:
    print('거짓입니다.')

참입니다

In [105]:
if False:
    print('참입니다')
else:
        print('거짓입니다.')

거짓입니다.

In [129]:
x = int(input('숫자를 입력하세요 : '))
if x>0:
    print('{:^18}'.format('양수!'))
else: 
    print('{:^14}'.format('0또는 음수!'))

숫자를 입력하세요 : -4
   0또는 음수!

In [135]:
money = int(input('가지고 있는 돈은?'))
if money>=5000:
    print('택시를 탄다.')
else:
    print('버스를 탄다.')

가지고 있는 돈은?4999
버스를 탄다.

In [145]:
grade = float(input('평점을 입력하세요. : '))
if grade >= 4.3:
    print("'장학금 수여 대상' \n   축하합니다!")

평점을 입력하세요. : 4.4
'장학금 수여 대상'
   축하합니다!

In [144]:
grade = float(input('평점을 입력하세요. : '))
if grade >= 4.3:
    print("'장학금 수여 대상' \n   축하합니다!")
else:
    print('장학금 수여 대상이 아닙니다.')

평점을 입력하세요. : 4
장학금 수여 대상이 아닙니다.

In [150]:
num = int(input('숫자를 입력하세요. : '))

if num%2==0:
    print('짝수입니다.')
else:
    print('홀수입니다.')

숫자를 입력하세요. : 17
홀수입니다.

In [156]:
su = int(input('숫자를 입력하세요. : '))

if su%2==0:
    print('%d 짝수이다.' %su)
    print('짝짝짝')
else:
    print('%d 홀수이다.' %su)
    print('홀홀홀')
print('if문 끝')

숫자를 입력하세요. : 2
2 짝수이다.
짝짝짝
if문 끝

In [161]:
age = int(input('나이를 입력하세요. : '))
height = int(input('키를 입력하세요. : '))

if age>=40:
    if height >= 170:
        print('큰키')
    else:
        print('보통키')
else:
    if height >= 175:
        print('큰키')
    else:
        print('보통키')

나이를 입력하세요. : 32
키를 입력하세요. : 173
보통키

In [182]:
score = int(input('점수를 입력하세요. : '))
if score >= 90:
    print('A')
else:
    if score <90 and score >=80:
        print('B')
    else:
        if score <80 and score >=70:
                print('C')
        else:
            if score <70 and score >=60:
                    print('D')
            else:
                    print('F')

점수를 입력하세요. : 89
B

In [179]:
score = int(input('점수를 입력하세요. : '))
if score >= 90:
    print('A')
elif score <90 and score >=80:
        print('B')
elif score <80 and score >=70:
        print('C')
elif score <70 and score >=60:
        print('D')
else:
        print('F')

print('if문 끝')

점수를 입력하세요. : 67
D
if문 끝

In [191]:
score1 = int(input('필기 성적을 입력하세요 : '))
score2 = int(input('실기 성적을 입력하세요 : '))

if score1>=80 and score2>=80: #필기 점수와 실기 점수 모두 80이상 일때 합격
    print('합격!')
else:
    print('불합격!')
print('if 문 끝')

필기 성적을 입력하세요 : 3
실기 성적을 입력하세요 : 3
불합격!
if 문 끝

In [207]:
i = input('아이디를 입력하세요 : ')
l = int(input('회원 레벨을 입력하세요. : '))

if i == 'admin':
    print('관리자이다.')
elif l == 1:
    print('관리자이다.')
else:
        print('관리자가 아니다.')

아이디를 입력하세요 : 22
회원 레벨을 입력하세요. : 22
관리자가 아니다.

In [210]:
i = input('아이디를 입력하세요 : ')
l = int(input('회원 레벨을 입력하세요. : '))

if i == 'admin' or l == 1:
    print('관리자이다.')
else:
    print('관리자가 아니다.')

아이디를 입력하세요 : d
회원 레벨을 입력하세요. : 1
관리자이다.

In [219]:
name = input('이름을 입력하세요. : ')
if not name: #아무것도 입력하지 않고 enter시 '이름이 입력되지 않았다.' 출력
    print('이름이 입력되지 않았다.')
else: #입력된 값을 이름으로 출력 
    print('이름 : %s' %name)

이름을 입력하세요. :
이름이 입력되지 않았다.

In [301]:
pay = '3000원'
age = int(input('나이를 입력하세요. : '))

if age >=65 or age<7:
    print('무료')
else:
    print('입장료 : %s' %pay)

나이를 입력하세요. : 3
무료

In [303]:
pay = '3000원'
age = int(input('나이를 입력하세요. : '))

if age >=65 or age<7:
    pay = '무료'

else:
    print('입장료 %s' %pay)

나이를 입력하세요. : 66

In [226]:
p = '12345'
pp = input('비밀번호를 입력하세요. : ')
if p==pp:
    print('로그인 되었습니다.')
else:
    print('비밀번로 Not OK!')

비밀번호를 입력하세요. : 12345
로그인 되었습니다.

In [269]:
q = int(input('월을 입력하세요. : '))
if q >=3 and q <=5:
    print('%d월은 봄입니다.'%q)
elif q==6 or q==7 or q==8:
    print('%d월은 여름입니다.'%q)
elif 9<=q<=11:
    print('%d월은 가을입니다.'%q)
elif q in [12,1,2]:
    print('%d월은 겨울입니다.'%q)

월을 입력하세요. : 1
1월은 겨울입니다.

In [270]:
q = int(input('월을 입력하세요. : '))
if q >=3 and q <=5:
    print('%d월은 봄입니다.'%q)
if q==6 or q==7 or q==8:
    print('%d월은 여름입니다.'%q)
if 9<=q<=11:
    print('%d월은 가을입니다.'%q)
if q in [12,1,2]:
    print('%d월은 겨울입니다.'%q)

월을 입력하세요. : 7
7월은 여름입니다.

In [5]:
w = int(input('승리'))
l = int(input('패배'))
r = w/(w+l)*100
print(r)

승리26
패배237
9.885931558935361

In [4]:
s = int(input('좌석 종류를 입력해주세요.(1. 일반실, 2특실) '))
if s == 1:
    print('일반실입니다.')
elif s == 2:
    print('특실입니다.')
else:
    print('%d는 없는 좌석입니다.'%s)

좌석 종류를 입력해주세요.(1. 일반실, 2특실) 1
일반실입니다.

In [282]:
s = int(input('좌석 종류를 입력해주세요.(1. 일반실, 2특실) '))
if s == 1:
    print('일반실입니다.')
if s == 2:
    print('특실입니다.')
if s not in [1,2]:
    print('%d는 없는 좌석입니다.'%s)

좌석 종류를 입력해주세요.(1. 일반실, 2특실) 3
3는 없는 좌석입니다.

In [353]:
seat = input('좌석 종류를 입력해 주세요(1:일반실, 2특실)')
seat1 = '일반실'
seat2 = '특실'

if seat == '1':
    print('%s입니다.' %seat1)
elif seat == '2':
    print('%s입니다.' %seat2)

좌석 종류를 입력해 주세요(1:일반실, 2특실)2
특실입니다.

In [290]:
a = input('영어 알파벳을 입력하세요. : ')
if a in ['w','W','e','E','y','Y','u','U','i','I','o','O','a','A']:
    print("%s는(은) 모음이다." %a)
elif a in ['q','Q','r','R','t','T','p','P','s','S','d','D','f','F','g','G','h','H','j','J','k','K','l','L','z','Z','x','X','c','C','v','V','b','B','n','N','m','M']:
    print('%s는(은) 자음이다.' %a)

영어 알파벳을 입력하세요. : w
w는(은) 모음이다.

In [339]:
char = input('알파벡을 입력하세요. :')
char2 = char.upper()
if char2 in ['A', 'E', 'I', 'O', 'U', 'W']:
    print('%s는(은) 모음이다.' %char)
else:
    print('%s는(은) 자음이다.' %char)

알파벡을 입력하세요. :d
d는(은) 자음이다.

In [340]:
i1 = int(input('첫 번째 정수를 입력하세요. :'))
i2 = int(input('두 번째 정수를 입력하세요. :'))
i3 = int(input('세 번째 정수를 입력하세요. :'))

l = [i1,i2,i3] 	#입력받은 값들을 리스트 l에 저장
l.sort() 	#데이터들을 오름차순 정렬
l2 = l[-1] 		#정렬된 리스트에서 가장 큰 마지막 데이터를 l2에 입력
print('입력된 세 수 %d, %d, %d중에서 가장 큰 수는 %d입니다.'%(i1,i2,i3,l2))

첫 번째 정수를 입력하세요. :12
두 번째 정수를 입력하세요. :33
세 번째 정수를 입력하세요. :43
입력된 세 수 12, 33, 43중에서 가장 큰 수는 43입니다.

In [343]:
del if

SyntaxError: invalid syntax (4181173588.py, line 1)

In [341]:
i1 = int(input('첫 번째 정수를 입력하세요. :'))
i2 = int(input('두 번째 정수를 입력하세요. :'))
i3 = int(input('세 번째 정수를 입력하세요. :'))

if i1 >= i2 and i1 >=i3: # i1이 i2, i3보다 크면 i1을 출력
    print('입력된 세 수 %d, %d, %d중에서 가장 큰 수는 %d입니다.'%(i1,i2,i3,i1)
elif i2 >= i1 and i2 >=i3: # i2이 i1, i3보다 크면 i2을 출력
    print('입력된 세 수 %d, %d, %d중에서 가장 큰 수는 %d입니다.'%(i1,i2,i3,i2)
else: # i1, i2가 i3보다 크지 않을 경우 i3출력
    print('입력된 세 수 %d, %d, %d중에서 가장 큰 수는 %d입니다.'%(i1,i2,i3,i3)

SyntaxError: invalid syntax (651327731.py, line 7)

In [364]:
i1 = int(input('첫 번째 정수를 입력하세요. :'))
i2 = int(input('두 번째 정수를 입력하세요. :'))
i3 = int(input('세 번째 정수를 입력하세요. :'))

if i1 >= i2 and i1 >=i3:
    print('입력된 세 수 %d, %d, %d중에서 가장 큰 수는 %d입니다.'%(i1,i2,i3,i1))
elif i2 >= i1 and i2 >=i3:
    print('입력된 세 수 %d, %d, %d중에서 가장 큰 수는 %d입니다.'%(i1,i2,i3,i2))
else:
    print('입력된 세 수 %d, %d, %d중에서 가장 큰 수는 %d입니다.'%(i1,i2,i3,i3))

첫 번째 정수를 입력하세요. :33
두 번째 정수를 입력하세요. :33
세 번째 정수를 입력하세요. :24
입력된 세 수 33, 33, 24중에서 가장 큰 수는 33입니다.

In [366]:
num1 = int(input('첫 번째 정수를 입력하세요. :'))
num2 = int(input('두 번째 정수를 입력하세요. :'))
num3 = int(input('세 번째 정수를 입력하세요. :'))

if num1 >= num2 and num2 >= num3:
    largest = num1
elif num2>=num1 and num2>=num3:
    largest = num2
else:
    largest = num3
    
print('입력된 세 수 %d, %d, %d중에서 가장 큰 수는 %d입니다.'%(num1,num2,num3,largest))

첫 번째 정수를 입력하세요. :43
두 번째 정수를 입력하세요. :3
세 번째 정수를 입력하세요. :2
입력된 세 수 43, 3, 2중에서 가장 큰 수는 43입니다.

In [363]:
print('서비스 만족도 : \n 1:매우 만족\n 2:만족\n 3:만족')
m = input('만족도 입력(1 또는 2 또는 3) : ')
if m == '1':
    p = int(input('음식값 입력(예:8000) :'))
    print('서비스 만족도 : 매우 만족, 팁 : %d'%(p*20/100))
elif m == '2':
    p = int(input('음식값 입력(예:8000) :'))
    print('서비스 만족도 : 매우 만족, 팁 : %d'%(p*10/100))
elif m == '3':
    p = int(input('음식값 입력(예:8000) :'))
    print('서비스 만족도 : 매우 만족, 팁 : %d'%(p*15/100))

서비스 만족도 :
 1:매우 만족
 2:만족
 3:만족
만족도 입력(1 또는 2 또는 3) : 2
음식값 입력(예:8000) :9000
서비스 만족도 : 매우 만족, 팁 : 900

In [375]:
print('''서비스 만족도 : 
1. 매우 만족
2. 만족
3. 불만족 서비스''')
a = input('만족도 입력(1 또는 2또는 3 : )')
price = int(input('음식값 입력 (예:8000원) : '))

if a =='1':
    tip = price * 0.2
    service = '매우 만족'
elif a=='2':
    tip = price * 0.1
    service = '만족'
elif a=='3':
    tip = price * 0.05
    service = '매우만족'
print('서비스 만족도 : %s, 팁 : %d원'%(service, tip))

서비스 만족도 :
1. 매우 만족
2. 만족
3. 불만족 서비스
만족도 입력(1 또는 2또는 3 : )3
음식값 입력 (예:8000원) : 1000
서비스 만족도 : 매우만족, 팁 : 50원

In [371]:
print('''서비스 만족도 : 
1. 매우 만족
2. 만족
3. 불만족 서비스''')
a = input('만족도 입력(1 또는 2또는 3 : )')
price = int(input('음식값 입력 (예:8000원) : '))

서비스 만족도 :
1. 매우 만족
2. 만족
3. 불만족 서비스
만족도 입력(1 또는 2또는 3 : )1
음식값 입력 (예:8000원) : 1

In [381]:
print('''서비스 만족도 : 
* 1 : 매우 만족
* 2 : 만족
* 3 : 불만족 서비스
''')
# 1 : 가격의 20%
# 2 : 가격의 10%
# 3 : 가격의 5%

sa = int(input('만족도를 입력하세요(1 또는 2 또는 3) : '))
price = int(input('음식값을 입력하세요(예 : 8000) : '))

#### 딕셔너리 이용 한 줄 코드 ####
    
sa_s = {1:['매우 만족', 0.2], 2:['만족', 0.1], 3:['불만족', 0.05]}

print('서비스 만족도 : %s, 팁 : %d원' %(sa_s[sa][0], price * sa_s[sa][1]))

서비스 만족도 :
* 1 : 매우 만족
* 2 : 만족
* 3 : 불만족 서비스

만족도를 입력하세요(1 또는 2 또는 3) : 1
음식값을 입력하세요(예 : 8000) : 9000
서비스 만족도 : 매우 만족, 팁 : 1800원

In [404]:
year  = int(input('현재 년을 입력해 주세요 : '))  
month = int(input('현재 월을 입력해 주세요 : '))
day   = int(input('현재 일을 입력해 주세요 : '))
by    = int(input('출생 년을 입력해 주세요 : '))
bm    = int(input('출생 월을 입력해 주세요 : ')) 
bd    = int(input('출생 일을 입력해 주세요 : '))
print('-----------------------------------')
print('오늘 날짜 : %d년 %d월 %d일'%(year, month, day))
print('생년월일 : %d년 %d월 %d일'%(by,bm,bd))
print('-----------------------------------')

if month >= bm and day >= bd:
    ma = year - by
else:
    ma = year - by - 1
print('만 나이 : %d세'%ma)

현재 년을 입력해 주세요 : 2022
현재 월을 입력해 주세요 : 8
현재 일을 입력해 주세요 : 25
출생 년을 입력해 주세요 : 1991
출생 월을 입력해 주세요 : 6
출생 일을 입력해 주세요 : 30
-----------------------------------
오늘 날짜 : 2022년 8월 25일
생년월일 : 1991년 6월 30일
-----------------------------------
만 나이 : 30세

In [383]:
year  = int(input('현재 년을 입력해 주세요 : '))  
month = int(input('현재 월을 입력해 주세요 : '))
day   = int(input('현재 일을 입력해 주세요 : '))
by    = int(input('출생 년을 입력해 주세요 : '))
bm    = int(input('출생 월을 입력해 주세요 : ')) 
bd    = int(input('출생 일을 입력해 주세요 : '))
print('-----------------------------------')
print('오늘 날짜 : %d년 %d월 %d일'%(year, month, day))
print('생년월일 : %d년 %d월 %d일'%(by,bm,bd))
print('-----------------------------------')

if month >= bm and day >= bd:
    ma = year - by
else:
    ma = year - by - 1
print('만 나이 : %d세'%ma)

현재 년을 입력해 주세요 : 2022
현재 월을 입력해 주세요 : 8
현재 일을 입력해 주세요 : 25
출생 년을 입력해 주세요 : 1991
출생 월을 입력해 주세요 : 8
출생 일을 입력해 주세요 : 23
-----------------------------------
오늘 날짜 : 2022년 8월 25일
생년월일 : 1991년 8월 23일
-----------------------------------
만 나이 : 31세

In [395]:
year  = int(input('현재 년을 입력해 주세요 : '))  
month = int(input('현재 월을 입력해 주세요 : '))
day   = int(input('현재 일을 입력해 주세요 : '))
by    = int(input('출생 년을 입력해 주세요 : '))
bm    = int(input('출생 월을 입력해 주세요 : ')) 
bd    = int(input('출생 일을 입력해 주세요 : '))
print('-----------------------------------')
print('오늘 날짜 : %d년 %d월 %d일'%(year, month, day))
print('생년월일 : %d년 %d월 %d일'%(by,bm,bd))
print('-----------------------------------')

if month > bm:
    ma = year - by
    if day >= bd:
        ma = year - by
    else:
        ma = year - by - 1
else:
    ma = year - by - 1
print('만 나이 : %d세'%ma)

현재 년을 입력해 주세요 : 2022
현재 월을 입력해 주세요 : 8
현재 일을 입력해 주세요 : 25
출생 년을 입력해 주세요 : 1991
출생 월을 입력해 주세요 : 8
출생 일을 입력해 주세요 : 26
-----------------------------------
오늘 날짜 : 2022년 8월 25일
생년월일 : 1991년 8월 26일
-----------------------------------
만 나이 : 30세

In [397]:
score=int(input('총점을 입력해 주세요. : '))
if score >= 60:
    message = 'success'
else:
    message = 'failure'
print(message)

총점을 입력해 주세요. : 50
failure

In [402]:
score=int(input('총점을 입력해 주세요. : '))

message = "success" if score >= 60 else "failure"
print(message)

총점을 입력해 주세요. : 50
failure