In [4]:
def adder(*args):
    print('*args:',args)
    
type(adder(10,12,13))

*args: (10, 12, 13)

NoneType

In [2]:
def adder(*num):
    result = 0
    for n in num:
        result += n
    print('sum:',result)
    
adder(10,12,13)

sum: 35

In [5]:
def average(*args):
    total = 0
   
    for i in args:
        total += i
    avg = total / len(args)
    print('%d과목의 평균 : %.2f'%(len(args), avg))

average(80,90,100)

3과목의 평균 : 90.00

In [39]:
def two_choice(word, *args):
    
    if word =='arithmetic':  
        total = 0
        for i in args:
            total += i
    elif word =='multiplication':
        total = 1
        for i in args:
            total *= i
    return total

x = two_choice('arithmetic',1,2,3,4,5)
print(x)

15

In [38]:
x = two_choice('multiplication',1,2,3,4,5)
print(x)

120

In [46]:
def SingleA(**kwargs):
    print(kwargs)
SingleA(10)

TypeError: SingleA() takes 0 positional arguments but 1 was given

In [47]:
SingleA(a=10)

{'a': 10}

In [48]:
SingleA(num = 1, name = 'Kristina',age = 30)

{'num': 1, 'name': 'Kristina', 'age': 30}

In [66]:
a = {'num': 1, 'name': 'Kristina', 'age': 30}
print(a.items())

dict_items([('num', 1), ('name', 'Kristina'), ('age', 30)])

In [71]:
def intro(**kwargs):
    print('Data type of argument : %s'%type(kwargs))
    for key, value in kwargs.items():
        print('%s is %s'%(key, value))

intro(firstname = 'Dave', Lastname = 'Karim', Age = 32, Phone = '01034567890')

Data type of argument : <class 'dict'>
firstname is Dave
Lastname is Karim
Age is 32
Phone is 01034567890

In [87]:
def f(a, *args, **kwargs):
    return a, args, kwargs
f('no',5,10,15,8,b=1,c=2)

('no', (5, 10, 15, 8), {'b': 1, 'c': 2})

In [113]:
def Triple(name, age, woman=True):
    print('Name:%s'%name)
    print('Age:%s'%age)
    if woman:
        print('Female')
    else:
        print('male')

        
Triple('Kristina', 27, True)

Name:Kristina
Age:27
Female

In [110]:
print()

Kristina 27 True

In [111]:
print('Kristina', 27, False)

Kristina 27 False

In [114]:
def Triple(name, age, woman=True):
    print('Name:%s'%name)
    print('Age:%s'%age)
    if True:
        print('남자입니다.')
    else:
        print('여자입니다.')

Triple('Kristina', 27, True)

Name:Kristina
Age:27
남자입니다.

In [107]:
double = lambda a, b: a+b
y=double(9,10)
print(y)

19

In [108]:
def double(a,b):
    return a+b
x = double(8,10)
print(x)

18

In [118]:
x = lambda a:a**2
print(x(5))
print(x(10))

25
100

In [119]:
f = lambda a,b,c:a+b+c
print(f(10,20,30))

60

In [133]:
def mul(n):
    return lambda x:x*n
a=mul(8)
a(2)
b=mul(10)
b(10)
print(a(2),b(10))

16 100

In [141]:
def func(x): #x는 매개변수 즉 지역변수
    x=100
    print('func(): x=', x,',id=', id(x))
x=10 #x는 변수, 전역변수 -위에 x와는 다른 x임
print('메인 : x = ', x, ',id = ',id(x))

func(x) #func(10) - func에 어떤 수를 넣더라도 함수가 강제로 x를 100으로 변환해 버린다.

print('메인 : x = ', x, ',id = ',id(x)) #다시 프린트 문을 실행하면 위에 x =10이 실행 되어 버린다.

메인 : x =  10 ,id =  140341680466512
func(): x= 100 ,id= 140341680657872
메인 : x =  10 ,id =  140341680466512

In [153]:
def func(x):
    x=100
    print('func(): x=', x,',id=', id(x))

In [154]:
del x

In [160]:
def func():
    print(x)
    print(id(x))
    
x=30
print(x)
print(id(x))
func()

30
140341680467152
30
140341680467152

In [161]:
del x

In [162]:
def func(): 
    x = 100
print(x) #지역변수는 정의되지 않아서 오류가 나옴
print(id(x))

NameError: name 'x' is not defined

In [164]:
x=10
print(x)
print(id(x))
func() #아무것도 안뜸

print(x)
print(id(x))

10
140341680466512
10
140341680466512

In [181]:
def func(): 
    y = 300
    print(y) #들여쓰기를 통해 함수안에 프린트문을 넣어 버림
    print(id(y))

func()

300
140340896988208

In [173]:
del x
del func()

SyntaxError: cannot delete function call (2625954448.py, line 2)

In [180]:
def func():
    global x
    x = 300
    print(x) #지역변수는 정의되지 않아서 오류가 나옴
    print(id(x))
    
x = 10

print(x)
print(id(x))
print('-'*10)
func()
print('-'*10)
print(x)
print(id(x))

10
140341680466512
----------
300
140340896987440
----------
300
140340896987440

In [182]:
def func():
    global x
    x = 500
    print(x)
    print(id(x))

In [183]:
func()

500
140340896988976

In [184]:
print(x)
print(id(x))

500
140340896988976

In [189]:
def matchWorld(word, answer):
    word = []
    answer = []
    eng_dict = {'orange' : '오렌지', 'cookie' : '과자', 'mother' : '어머니', 'brother' : '형제', 'python' : '파이썬'}  
        
        print('%s에 맞는 영어 단어는? %s'%(word, answer))
    if answer == eng_dict.keys:
        print('맞습니다!')
    else:
        print('틀렸습니다.')
            
        
result=matchWorld('오렌지', 'orange')
print(result)

IndentationError: unexpected indent (1454059336.py, line 6)

In [187]:
eng_dict = {'orange' : '오렌지', 'cookie' : '과자', 'mother' : '어머니', 'brother' : '형제', 'python' : '파이썬'}
eng_dict.keys()

dict_keys(['orange', 'cookie', 'mother', 'brother', 'python'])

In [190]:
def matchWorld(word, answer):
    message = '맞습니다' if word == answer else '틀렸습니다.'
    return message

eng_dict = {'orange' : '오렌지', 'cookie' : '과자', 'mother' : '어머니', 'brother' : '형제', 'python' : '파이썬'}  
        
        
for key in eng_dict:
    string = input(f'{eng_dict[key]}에 맞는 영어 단어는?')     
    result=matchWorld(string, key)
    print(result)

오렌지에 맞는 영어 단어는?orange
맞습니다
과자에 맞는 영어 단어는?cookie
맞습니다
어머니에 맞는 영어 단어는?mothere
틀렸습니다.
형제에 맞는 영어 단어는?brother
맞습니다
파이썬에 맞는 영어 단어는?pithon
틀렸습니다.

In [204]:
eng_dict = {'orange' : '오렌지', 'cookie' : '과자', 'mother' : '어머니', 'brother' : '형제', 'python' : '파이썬'}
print(eng_dict[keys])

NameError: name 'keys' is not defined

In [197]:
def max_two(i,j):
    
    if i <= j:
        result = j
    else:
        result = i
    return result
    
def max_three(x,y,z):
    
    if max_two(x,y) == x:
        result = x
        if max_two(x,z) == z:
            result = z
    elif max_two(x,y) == y:
        result = y
        if max_two(y,z) == z:
            result = z
    return result
    
a = int(input('첫 번째 수를 입력하세요.'))
b = int(input('두 번째 수를 입력하세요.'))
c = int(input('세 번째 수를 입력하세요.'))
        

max_num = max_three(a,b,c)
print('%d,%d,%d중 가장 큰 수 : %d'%(a,b,c,max_num))

첫 번째 수를 입력하세요.12
두 번째 수를 입력하세요.8
세 번째 수를 입력하세요.17
12,8,17중 가장 큰 수 : 17

In [198]:
def max_two(i,j):
    
    if i > j:
        return i
    else:
        return j
    
def max_three(x,y,z):
    max1 = max_two(x,y)
    max2 = max_two(y,z)
    max3 = max_two(max1, max2)
    return max3
    
    
a = int(input('첫 번째 수를 입력하세요.'))
b = int(input('두 번째 수를 입력하세요.'))
c = int(input('세 번째 수를 입력하세요.'))

max_num = max_three(a,b,c)
print('%d,%d,%d중 가장 큰 수 : %d'%(a,b,c,max_num))

첫 번째 수를 입력하세요.10
두 번째 수를 입력하세요.4
세 번째 수를 입력하세요.11
10,4,11중 가장 큰 수 : 11

In [201]:
def add(n):
    if n == 1:
        return 1
    return n +add(n-1)
print(add(3))

6

In [205]:
print(all([1,2,3]))
print(all([1,2,-3]))
print(all([1,0, 2,3]))
print(all([]))
print(all([1,True]))
print(all([1,False]))

True
True
False
True
True
False

In [207]:
print(any([1,2,3]))
print(any([1,2,-3]))
print(any([1,0,2,3]))
print(any([]))
print(any([1,True]))
print(any([1,False]))

True
True
True
False
True
True

In [208]:
print(eval('1+2'))
print(eval("'good'+'morning'"))

3
goodmorning

In [209]:
members = [
    {'name':'kim','addr':'서울'}, {'name':'park','addr':'제주'},{'name':'jung','addr':'부산'},
    {'name':'seo','addr':'부산'},{'name':'choi','addr':'제주'}
]

def searchaddr(mem):
    return mem['addr'] == '제주'

person = list(filter(searchaddr, members))
print('person:', person)
for per in filter(searchaddr, members):
    print('per:', per)

person: [{'name': 'park', 'addr': '제주'}, {'name': 'choi', 'addr': '제주'}]
per: {'name': 'park', 'addr': '제주'}
per: {'name': 'choi', 'addr': '제주'}

In [210]:
L = [1,2,3,4,5]

def mul(num):
    return num*num
result = map(mul,L)
print('result : ',result)
listresult = list(map(mul,L))
print('listresult : ',listresult)
for i in map(mul,L):
    print(i)

result :  <map object at 0x7fa3880ab370>
listresult :  [1, 4, 9, 16, 25]
1
4
9
16
25

In [212]:
pow(2,3)

8

In [213]:
round(3.143523463, 4)

3.1435

In [217]:
name = ['kim','park','jung']
age = [30,20,40]
height = [162.9, 142.7,189.3]
result = zip(name,age,height)
print('result : ', result)
listresult = list(result)
print('listresult : ', listresult)

result :  <zip object at 0x7fa3a93d81c0>
listresult :  [('kim', 30, 162.9), ('park', 20, 142.7), ('jung', 40, 189.3)]

In [218]:
test = {'a':1, 'b':5, 'c':3}
sorted(test, reverse = True)

['c', 'b', 'a']

In [219]:
test = {'a':1, 'b':5, 'c':3}
sorted(test, key = lambda x: test[x])  #value 의 크기를 확인후 오름차순 정렬함

['a', 'c', 'b']

In [222]:
file = open('new.txt','w')
file.close()

In [227]:
file = open('./Desktop/hello.txt','w')
file.close()

In [226]:
ls

2022_08_23.ipynb   2022_08_31.ipynb   Movies/            Untitled2.ipynb
2022_08_24.ipynb   Applications/      Music/             Untitled3.ipynb
2022_08_25.ipynb   Desktop/           Pictures/          Untitled4.ipynb
2022_08_26.ipynb   Documents/         Public/            eclipse-workspace/
2022_08_29.ipynb   Downloads/         Untitled.ipynb     hello.txt
2022_08_30.ipynb   Library/           Untitled1.ipynb    new.txt

In [228]:
file = open('./Desktop/sample1.txt', 'w',encoding='utf8')
file.write('안녕하세요. 반갑습니다.')
file.close()

In [230]:
import os
print(os.getcwd())

/Users/iseung-won

TypeError: TextIOWrapper.write() takes exactly one argument (0 given)

In [250]:
f = open('sample2.txt','w')
f.write('-'*10 + '\n')
for i in range(1,4):
    s = f'{i}번 항목 \n'
    f.write(s)

f.write('-'*10 + '\n')
f.close()

In [251]:
f = open('sample3.txt','w')
f.write('-'*10 + '\n')
for i in range(1,4):
    s = f'{i}번 항목 \n'
    f.write(s)

f.write('-'*10 + '\n')
f.close()

In [260]:
scores = ['김소영 82 80 93 97 93 88' ,
           '정예린 86 100 93 86 90 77',
           '이세영 91 88 99 79 92 68',
           '정수정 86 100 93 89 92 93',
           '박지수 80 100 95 89 90 84']

f = open('score.txt','w')
f.write('%s'%scores)
f.close()

In [261]:
scores = ['김소영 82 80 93 97 93 88' ,
           '정예린 86 100 93 86 90 77',
           '이세영 91 88 99 79 92 68',
           '정수정 86 100 93 89 92 93',
           '박지수 80 100 95 89 90 84']

for i in scores:
    print(i)

김소영 82 80 93 97 93 88
정예린 86 100 93 86 90 77
이세영 91 88 99 79 92 68
정수정 86 100 93 89 92 93
박지수 80 100 95 89 90 84

In [263]:
f = open('scores.txt','w')
for i in scores:
    f.write(i + '\n')
f.close()

In [268]:
del f

In [279]:
f = open('sample2.txt','w')
f.write('-'*10 + '\n')
for i in range(1,4):
    s = f'{i}번 항목 \n'
    f.write(s)

f.write('-'*10 + '\n')
f.close()

In [291]:
f = open('./sample2.txt','r')
line1 = f.readline()
print(line1)

----------

In [292]:
print(line1)

----------

In [293]:
line2 = f.readline()
print(line2)

1번 항목

In [294]:
bool(line2)

True

In [295]:
line3 = f.readline()
line4 = f.readline()
bool(line4)

True

In [296]:
print(line3)
print(line4)

2번 항목

3번 항목

In [297]:
line5 = f.readline()
line6 = f.readline()

print(line5)
print(line6)

----------

In [298]:
bool(line6)

False

In [289]:
f.close()

In [300]:
f = open('./sample2.txt')

while True:
    line = f.readline()
    if not line:
        break
    print(line)
f.close()

----------

1번 항목

2번 항목

3번 항목

----------

In [307]:
f = open('sample2.txt','r')
lines = f.readlines()  # readlines는 리스트로 저장이 된다.
print(lines)
f.close()

['----------\n', '1번 항목 \n', '2번 항목 \n', '3번 항목 \n', '----------\n']

In [308]:
for i in lines:
    print(i)

----------

1번 항목

2번 항목

3번 항목

----------

In [310]:
lines

['----------\n', '1번 항목 \n', '2번 항목 \n', '3번 항목 \n', '----------\n']

In [311]:
len(lines)

5

In [312]:
f = open('sample2.txt','r')
a = f.read()
print(a)
f.close()

----------
1번 항목
2번 항목
3번 항목
----------

In [317]:
f = open('./scores.txt')
score_lines = f.readlines()
print(type(score_lines))
f.close()

<class 'list'>

In [316]:
for i in score_lines:
    print(i)

김소영 82 80 93 97 93 88

정예린 86 100 93 86 90 77

이세영 91 88 99 79 92 68

정수정 86 100 93 89 92 93

박지수 80 100 95 89 90 84

In [358]:
f = open('scores.txt','r',encoding='utf8')
scores = f.readlines()
f.close()

print('-'*50)


for line in scores:
    student = line.split()   
    print(student[0])
    sum_student = 0
    for i in student[1:]:
        sum_student = sum_student + int(i)
    print('합계 :', sum_student, '평균 : %.2f'%(sum_student/len(student[1:])))
    print('-'*50)

--------------------------------------------------
김소영
합계 : 533 평균 : 88.83
--------------------------------------------------
정예린
합계 : 532 평균 : 88.67
--------------------------------------------------
이세영
합계 : 517 평균 : 86.17
--------------------------------------------------
정수정
합계 : 553 평균 : 92.17
--------------------------------------------------
박지수
합계 : 538 평균 : 89.67
--------------------------------------------------

In [350]:
len(scores)

5

In [ ]:
sum_student = 0
    while i < len(scores):
        
            print(student[i])
            sum_student +=int(student)
            sum_student[]
            print('-'*50)
            i += i