In [54]:
y = int(input("년도를 입력하세요. : "))
m = int(input("월을 입력하세요. : "))
d = int(input('일을 입력하세요. : '))


# yx - {len(y%4==0) and len(y%400==0)} +{len(y%4==0) and len(y%400==0)}
#365 + 365 +365 +366 +365
su=0

for i in range(1,y+1):
    if i % 4 == 0 or i % 400 ==0:
        su += 366
    elif i % 100 == 0:
            su += 365
            if :
                su += 366
    
    else:
                su += 365
        
    print(i,su)
        
        
   
    
   #366

년도를 입력하세요. : 2000
월을 입력하세요. : 20
일을 입력하세요. : 20

365*2000

In [1]:
365*2000

730000

In [66]:
y = int(input("년도를 입력하세요. : "))
su = 0
for i in range(1,y+1):
    if i % 4 == 0:
        su += 366
    elif i % 100 == 0:
            su += 365
            if i % 400 ==0:
                su += 366
    
    else:
                su += 365
        
    print(i,su)

년도를 입력하세요. : 800
1 365
2 730
3 1095
4 1461
5 1826
6 2191
7 2556
8 2922
9 3287
10 3652
11 4017
12 4383
13 4748
14 5113
15 5478
16 5844
17 6209
18 6574
19 6939
20 7305
21 7670
22 8035
23 8400
24 8766
25 9131
26 9496
27 9861
28 10227
29 10592
30 10957
31 11322
32 11688
33 12053
34 12418
35 12783
36 13149
37 13514
38 13879
39 14244
40 14610
41 14975
42 15340
43 15705
44 16071
45 16436
46 16801
47 17166
48 17532
49 17897
50 18262
51 18627
52 18993
53 19358
54 19723
55 20088
56 20454
57 20819
58 21184
59 21549
60 21915
61 22280
62 22645
63 23010
64 23376
65 23741
66 24106
67 24471
68 24837
69 25202
70 25567
71 25932
72 26298
73 26663
74 27028
75 27393
76 27759
77 28124
78 28489
79 28854
80 29220
81 29585
82 29950
83 30315
84 30681
85 31046
86 31411
87 31776
88 32142
89 32507
90 32872
91 33237
92 33603
93 33968
94 34333
95 34698
96 35064
97 35429
98 35794
99 36159
100 36525
101 36890
102 37255
103 37620
104 37986
105 38351
106 38716
107 39081
108 39447
109 39812
110 40177
111 40542
112 40908
113 41273
114 41638
115 42003
116 42369
117 42734
118 43099
119 43464
120 43830
121 44195
122 44560
123 44925
124 45291
125 45656
126 46021
127 46386
128 46752
129 47117
130 47482
131 47847
132 48213
133 48578
134 48943
135 49308
136 49674
137 50039
138 50404
139 50769
140 51135
141 51500
142 51865
143 52230
144 52596
145 52961
146 53326
147 53691
148 54057
149 54422
150 54787
151 55152
152 55518
153 55883
154 56248
155 56613
156 56979
157 57344
158 57709
159 58074
160 58440
161 58805
162 59170
163 59535
164 59901
165 60266
166 60631
167 60996
168 61362
169 61727
170 62092
171 62457
172 62823
173 63188
174 63553
175 63918
176 64284
177 64649
178 65014
179 65379
180 65745
181 66110
182 66475
183 66840
184 67206
185 67571
186 67936
187 68301
188 68667
189 69032
190 69397
191 69762
192 70128
193 70493
194 70858
195 71223
196 71589
197 71954
198 72319
199 72684
200 73050
201 73415
202 73780
203 74145
204 74511
205 74876
206 75241
207 75606
208 75972
209 76337
210 76702
211 77067
212 77433
213 77798
214 78163
215 78528
216 78894
217 79259
218 79624
219 79989
220 80355
221 80720
222 81085
223 81450
224 81816
225 82181
226 82546
227 82911
228 83277
229 83642
230 84007
231 84372
232 84738
233 85103
234 85468
235 85833
236 86199
237 86564
238 86929
239 87294
240 87660
241 88025
242 88390
243 88755
244 89121
245 89486
246 89851
247 90216
248 90582
249 90947
250 91312
251 91677
252 92043
253 92408
254 92773
255 93138
256 93504
257 93869
258 94234
259 94599
260 94965
261 95330
262 95695
263 96060
264 96426
265 96791
266 97156
267 97521
268 97887
269 98252
270 98617
271 98982
272 99348
273 99713
274 100078
275 100443
276 100809
277 101174
278 101539
279 101904
280 102270
281 102635
282 103000
283 103365
284 103731
285 104096
286 104461
287 104826
288 105192
289 105557
290 105922
291 106287
292 106653
293 107018
294 107383
295 107748
296 108114
297 108479
298 108844
299 109209
300 109575
301 109940
302 110305
303 110670
304 111036
305 111401
306 111766
307 112131
308 112497
309 112862
310 113227
311 113592
312 113958
313 114323
314 114688
315 115053
316 115419
317 115784
318 116149
319 116514
320 116880
321 117245
322 117610
323 117975
324 118341
325 118706
326 119071
327 119436
328 119802
329 120167
330 120532
331 120897
332 121263
333 121628
334 121993
335 122358
336 122724
337 123089
338 123454
339 123819
340 124185
341 124550
342 124915
343 125280
344 125646
345 126011
346 126376
347 126741
348 127107
349 127472
350 127837
351 128202
352 128568
353 128933
354 129298
355 129663
356 130029
357 130394
358 130759
359 131124
360 131490
361 131855
362 132220
363 132585
364 132951
365 133316
366 133681
367 134046
368 134412
369 134777
370 135142
371 135507
372 135873
373 136238
374 136603
375 136968
376 137334
377 137699
378 138064
379 138429
380 138795
381 139160
382 139525
383 139890
384 140256
385 140621
386 140986
387 141351
388 141717
389 142082
390 142447
391 142812
392 143178
393 143543
394 143908
395 144273
396 144639
397 145004
398 145369
399 145734
400 146100
401 146465
402 146830
403 147195
404 147561
405 147926
406 148291
407 148656
408 149022
409 149387
410 149752
411 150117
412 150483
413 150848
414 151213
415 151578
416 151944
417 152309
418 152674
419 153039
420 153405
421 153770
422 154135
423 154500
424 154866
425 155231
426 155596
427 155961
428 156327
429 156692
430 157057
431 157422
432 157788
433 158153
434 158518
435 158883
436 159249
437 159614
438 159979
439 160344
440 160710
441 161075
442 161440
443 161805
444 162171
445 162536
446 162901
447 163266
448 163632
449 163997
450 164362
451 164727
452 165093
453 165458
454 165823
455 166188
456 166554
457 166919
458 167284
459 167649
460 168015
461 168380
462 168745
463 169110
464 169476
465 169841
466 170206
467 170571
468 170937
469 171302
470 171667
471 172032
472 172398
473 172763
474 173128
475 173493
476 173859
477 174224
478 174589
479 174954
480 175320
481 175685
482 176050
483 176415
484 176781
485 177146
486 177511
487 177876
488 178242
489 178607
490 178972
491 179337
492 179703
493 180068
494 180433
495 180798
496 181164
497 181529
498 181894
499 182259
500 182625
501 182990
502 183355
503 183720
504 184086
505 184451
506 184816
507 185181
508 185547
509 185912
510 186277
511 186642
512 187008
513 187373
514 187738
515 188103
516 188469
517 188834
518 189199
519 189564
520 189930
521 190295
522 190660
523 191025
524 191391
525 191756
526 192121
527 192486
528 192852
529 193217
530 193582
531 193947
532 194313
533 194678
534 195043
535 195408
536 195774
537 196139
538 196504
539 196869
540 197235
541 197600
542 197965
543 198330
544 198696
545 199061
546 199426
547 199791
548 200157
549 200522
550 200887
551 201252
552 201618
553 201983
554 202348
555 202713
556 203079
557 203444
558 203809
559 204174
560 204540
561 204905
562 205270
563 205635
564 206001
565 206366
566 206731
567 207096
568 207462
569 207827
570 208192
571 208557
572 208923
573 209288
574 209653
575 210018
576 210384
577 210749
578 211114
579 211479
580 211845
581 212210
582 212575
583 212940
584 213306
585 213671
586 214036
587 214401
588 214767
589 215132
590 215497
591 215862
592 216228
593 216593
594 216958
595 217323
596 217689
597 218054
598 218419
599 218784
600 219150
601 219515
602 219880
603 220245
604 220611
605 220976
606 221341
607 221706
608 222072
609 222437
610 222802
611 223167
612 223533
613 223898
614 224263
615 224628
616 224994
617 225359
618 225724
619 226089
620 226455
621 226820
622 227185
623 227550
624 227916
625 228281
626 228646
627 229011
628 229377
629 229742
630 230107
631 230472
632 230838
633 231203
634 231568
635 231933
636 232299
637 232664
638 233029
639 233394
640 233760
641 234125
642 234490
643 234855
644 235221
645 235586
646 235951
647 236316
648 236682
649 237047
650 237412
651 237777
652 238143
653 238508
654 238873
655 239238
656 239604
657 239969
658 240334
659 240699
660 241065
661 241430
662 241795
663 242160
664 242526
665 242891
666 243256
667 243621
668 243987
669 244352
670 244717
671 245082
672 245448
673 245813
674 246178
675 246543
676 246909
677 247274
678 247639
679 248004
680 248370
681 248735
682 249100
683 249465
684 249831
685 250196
686 250561
687 250926
688 251292
689 251657
690 252022
691 252387
692 252753
693 253118
694 253483
695 253848
696 254214
697 254579
698 254944
699 255309
700 255675
701 256040
702 256405
703 256770
704 257136
705 257501
706 257866
707 258231
708 258597
709 258962
710 259327
711 259692
712 260058
713 260423
714 260788
715 261153
716 261519
717 261884
718 262249
719 262614
720 262980
721 263345
722 263710
723 264075
724 264441
725 264806
726 265171
727 265536
728 265902
729 266267
730 266632
731 266997
732 267363
733 267728
734 268093
735 268458
736 268824
737 269189
738 269554
739 269919
740 270285
741 270650
742 271015
743 271380
744 271746
745 272111
746 272476
747 272841
748 273207
749 273572
750 273937
751 274302
752 274668
753 275033
754 275398
755 275763
756 276129
757 276494
758 276859
759 277224
760 277590
761 277955
762 278320
763 278685
764 279051
765 279416
766 279781
767 280146
768 280512
769 280877
770 281242
771 281607
772 281973
773 282338
774 282703
775 283068
776 283434
777 283799
778 284164
779 284529
780 284895
781 285260
782 285625
783 285990
784 286356
785 286721
786 287086
787 287451
788 287817
789 288182
790 288547
791 288912
792 289278
793 289643
794 290008
795 290373
796 290739
797 291104
798 291469
799 291834
800 292200

In [56]:
365*2000

730000

In [43]:
y = int(input("년도를 입력하세요. : "))
su = 0
for i in range(1,y+1):
    
    if i % 4 == 0:
        su += 366
        if i % 100 == 0:
            su += 365
        if i % 400 ==0:
                su += 366
    else:
        su += 365
print(su)

년도를 입력하세요. : 100
36890

In [22]:
y = int(input("년도를 입력하세요. : "))
su = 0
for i in range(1,y+1):
    
    if y%4 == 0:
        su += 365
    elif y%3 ==0:
        su += 1
    
print(su)

년도를 입력하세요. : 20
7300

In [52]:
y = int(input("년도를 입력하세요. : "))
su = 0
for i in range(1,y+1):
    if i % 4 == 0:
        su += 0
        if i % 100 == 0:
            if i % 400 ==0:
                su += 0
            else:
                su += 1
    
    print(su)

년도를 입력하세요. : 800
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
5
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6
6

In [ ]:
y = 20
su = 0
for i in range(1,y+1):
    if y

In [73]:
y = int(input("년도를 입력하세요. : "))
m = int(input("월을 입력하세요. : "))
d = int(input('일을 입력하세요. : '))
count = 0
day = ['일요일','월요일','화요일','수요일','목요일','금요일','토요일']

for i in range(1, y):
    if i % 400 == 0:
        count += 366
    elif i % 100 == 0:
        count += 365
    elif i % 4 == 0:
        count += 366
    else:
        count += 365
    
m_days = [0,28,31,30,31,30,31,31,30,31,30,31]
for i in range(1, m):
    count += m_days[i]
    
for i in range(1, m):      #올해가 윤년이면 +1만 해주면 됨
    
    count += m_days[i]
    if m >= 3:
        if y % 400 == 0:
            count += 1
        elif y % 100 == 0:
            count += 0
        elif y % 4 == 0:
            count += 1
        else:
            count += 0

count += d
for i in range(7):
    if count % 7 == i:
        
        print(f'{y}년 {m}월 {d}일은 {day[i]}')

년도를 입력하세요. : 2022
월을 입력하세요. : 8
일을 입력하세요. : 30
2022년 8월 30일은 목요일

In [75]:
exam = [
    {'num':'1', 'name':'김철수', 'kor':90, 'eng':80, 'math':85, 'total':0, 'avg':0,'order':0},
    {'num':'2', 'name':'박제동', 'kor':90, 'eng':85, 'math':90, 'total':0, 'avg':0,'order':0},
    {'num':'3', 'name':'홍길동', 'kor':80, 'eng':80, 'math':80, 'total':0, 'avg':0,'order':0},
]

for i in range(len(exam)):
    exam[i]['total'] = exam[i]['kor'] + exam[i]['eng'] + exam[i]['math']
    exam[i]['avg'] = exam[i]['total']/3
print(exam)

[{'num': '1', 'name': '김철수', 'kor': 90, 'eng': 80, 'math': 85, 'total': 255, 'avg': 85.0, 'order': 0}, {'num': '2', 'name': '박제동', 'kor': 90, 'eng': 85, 'math': 90, 'total': 265, 'avg': 88.33333333333333, 'order': 0}, {'num': '3', 'name': '홍길동', 'kor': 80, 'eng': 80, 'math': 80, 'total': 240, 'avg': 80.0, 'order': 0}]

In [76]:
exam = [
    {'num':'1', 'name':'김철수', 'kor':90, 'eng':80, 'math':85, 'total':0, 'avg':0,'order':0},
    {'num':'2', 'name':'박제동', 'kor':90, 'eng':85, 'math':90, 'total':0, 'avg':0,'order':0},
    {'num':'3', 'name':'홍길동', 'kor':80, 'eng':80, 'math':80, 'total':0, 'avg':0,'order':0},
]

for i in range(len(exam)):
    exam[i]['total'] = exam[i]['kor'] + exam[i]['eng'] + exam[i]['math']
    exam[i]['avg'] = exam[i]['total']/3


for j in range(len(exam)):
    
    if exam[j]['avg']>exam[j+1]['avg']:
        exam[j]['order'] = + 1

[{'num': '1', 'name': '김철수', 'kor': 90, 'eng': 80, 'math': 85, 'total': 255, 'avg': 85.0, 'order': 0}, {'num': '2', 'name': '박제동', 'kor': 90, 'eng': 85, 'math': 90, 'total': 265, 'avg': 88.33333333333333, 'order': 0}, {'num': '3', 'name': '홍길동', 'kor': 80, 'eng': 80, 'math': 80, 'total': 240, 'avg': 80.0, 'order': 0}]

In [123]:
exam = [
{'num': '1', 'name': '김철수', 'kor': 90, 'eng': 80, 'math': 85, 'total': 255, 'avg': 85.0, 'order': 0},
{'num': '2', 'name': '박제동', 'kor': 90, 'eng': 85, 'math': 90, 'total': 265, 'avg': 88.3, 'order': 0},
{'num': '3', 'name': '홍길동', 'kor': 80, 'eng': 80, 'math': 80, 'total': 240, 'avg': 80.0, 'order': 0} 
]
su = 0
#ex_li = list(exam[0:4]['avg'])
#for i in range(len(exam)):
    
for i in range(len(exam))

print(exam[1]['avg'])

88.3

In [108]:
ex_li = list(exam[i])
print(ex_li)

[{'num': '1', 'name': '김철수', 'kor': 90, 'eng': 80, 'math': 85, 'total': 255, 'avg': 85.0, 'order': 1}, {'num': '2', 'name': '박제동', 'kor': 90, 'eng': 85, 'math': 90, 'total': 265, 'avg': 88.3, 'order': 1}, {'num': '3', 'name': '홍길동', 'kor': 80, 'eng': 80, 'math': 80, 'total': 240, 'avg': 80.0, 'order': 0}]

In [128]:
exam = [
{'num': '1', 'name': '김철수', 'kor': 90, 'eng': 80, 'math': 85, 'total': 255, 'avg': 85.0, 'order': 0},
{'num': '2', 'name': '박제동', 'kor': 90, 'eng': 85, 'math': 90, 'total': 265, 'avg': 88.3, 'order': 0},
{'num': '3', 'name': '홍길동', 'kor': 80, 'eng': 80, 'math': 80, 'total': 240, 'avg': 80.0, 'order': 0} 
]

for i in range(len(exam)): #전체 앞부분 순번
    for j in range(len(exam)):
        if exam[i]['avg'] < exam[j]['avg']:
            exam[i]['order'] += 1
print(exam)

[{'num': '1', 'name': '김철수', 'kor': 90, 'eng': 80, 'math': 85, 'total': 255, 'avg': 85.0, 'order': 1}, {'num': '2', 'name': '박제동', 'kor': 90, 'eng': 85, 'math': 90, 'total': 265, 'avg': 88.3, 'order': 0}, {'num': '3', 'name': '홍길동', 'kor': 80, 'eng': 80, 'math': 80, 'total': 240, 'avg': 80.0, 'order': 0}]
[{'num': '1', 'name': '김철수', 'kor': 90, 'eng': 80, 'math': 85, 'total': 255, 'avg': 85.0, 'order': 1}, {'num': '2', 'name': '박제동', 'kor': 90, 'eng': 85, 'math': 90, 'total': 265, 'avg': 88.3, 'order': 0}, {'num': '3', 'name': '홍길동', 'kor': 80, 'eng': 80, 'math': 80, 'total': 240, 'avg': 80.0, 'order': 0}]
[{'num': '1', 'name': '김철수', 'kor': 90, 'eng': 80, 'math': 85, 'total': 255, 'avg': 85.0, 'order': 1}, {'num': '2', 'name': '박제동', 'kor': 90, 'eng': 85, 'math': 90, 'total': 265, 'avg': 88.3, 'order': 0}, {'num': '3', 'name': '홍길동', 'kor': 80, 'eng': 80, 'math': 80, 'total': 240, 'avg': 80.0, 'order': 2}]

In [133]:
exam_test1 = [{'no':1,'avg':100.0, 'order':0},
              {'no':2,'avg':90.0, 'order':0},
              {'no':3,'avg':80.0, 'order':0},
              {'no':3,'avg':80.0, 'order':0},
              {'no':3,'avg':80.0, 'order':0},
              {'no':6,'avg':70.0, 'order':0},
              {'no':7,'avg':60.0, 'order':0}]


for i in range(len(exam_test1)): #전체 앞부분 순번
    for j in range(len(exam_test1)):
        if exam_test1[i]['avg'] < exam_test1[j]['avg']:
            exam_test1[i]['order'] += 1
print(exam_test1)

[{'no': 1, 'avg': 100.0, 'order': 0}, {'no': 2, 'avg': 90.0, 'order': 1}, {'no': 3, 'avg': 80.0, 'order': 2}, {'no': 3, 'avg': 80.0, 'order': 2}, {'no': 3, 'avg': 80.0, 'order': 2}, {'no': 6, 'avg': 70.0, 'order': 5}, {'no': 7, 'avg': 60.0, 'order': 6}]

In [ ]:
exam_test2 = [{'no':7,'avg':60.0, 'order':0},
              {'no':6,'avg':70.0, 'order':0},
              {'no':3,'avg':80.0, 'order':0},
              {'no':3,'avg':80.0, 'order':0},
              {'no':3,'avg':80.0, 'order':0},
              {'no':2,'avg':90.0, 'order':0},
              {'no':1,'avg':100.0, 'order':0}]

for i in range(len(exam_test2)): #전체 앞부분 순번
    for j in range(len(exam_test2)):
        if exam_test2[i]['avg'] < exam_test2[j]['avg']:
            exam_test2[i]['order'] += 1
print(exam_test2am)

In [ ]:
exam_test3 = [{'no':1,'avg':100.0, 'order':0},
              {'no':3,'avg':80.0, 'order':0},
              {'no':3,'avg':80.0, 'order':0},
              {'no':6,'avg':70.0, 'order':0},
              {'no':7,'avg':60.0, 'order':0},
              {'no':3,'avg':80.0, 'order':0},
              {'no':2,'avg':90.0, 'order':0}]

for i in range(len(exam_test3)): #전체 앞부분 순번
    for j in range(len(exam_test3)):
        if exam_test3[i]['avg'] < exam_test3[j]['avg']:
            exam_test3[i]['order'] += 1
print(exam_test3)

In [130]:
# 함수

In [132]:
def hello():
    print('안녕하세요.')
hello()
hello()
hello()

안녕하세요.
안녕하세요.
안녕하세요.

In [134]:
def y(a,b):    #입력값과 리텬값이 있는
    result = a+b
    return result
a = y(9,10)
print(a)

19

In [ ]:
def y():
    return 'q'
b = y()
print(b)

In [135]:
def p():    #입력값은 없고, 리턴값은 있는
    return 'q'
a=p()
print(a)

q

In [136]:
def x(a,b):   #입력값은 있고, 리턴값이 없는
    print('%s,%s의 곱은 %s입니다.'%(a,b,a*b))

print(x(9,10))

9,10의 곱은 90입니다.
None

In [140]:
c = x(20,10)
print(c)

20,10의 곱은 200입니다.
None

In [137]:
def p():   #입력값과 리턴값이 둘 다 없는
    print('q')
print(p())

q
None

In [141]:
d=p()
print(d)

q
None

In [145]:
def double(a,b):
    r = a+b, a*b
    return r
x = double(9,10)
print(x)
x = list(x)
type(x)

(19, 90)

list

In [147]:
a ='q'
print('aa', a)

aa q

In [165]:
def whoiam(word):
    if word =='dog':
        return
    print('i am %s' %word)

whoiam('human')

i am human

In [170]:
def even_odd(num):
    if num%2==0:
        print('%d은(는) 짝수이다.'%num)
    if num%2==1:
        print('%d은(는) 홀수이다.'%num)
        return

even_odd(7)
even_odd(16)

7은(는) 홀수이다.
16은(는) 짝수이다.

In [174]:
def favorite_color(name, color, amount):
    
    if amount == 1:
        print('%s님은 %s을 좋아하지 않습니다.'%(name, color))
    elif amount == 2:
        print('%s님은 %s을 조금 좋아합니다.'%(name, color))
    elif amount == 3:
        print('%s님은 %s을 매우 좋아합니다.'%(name, color))
    return

favorite_color('문시연','빨강',1)
favorite_color('최다솔','파랑',2)
favorite_color('한재희','노랑',3)

문시연님은 빨강을 좋아하지 않습니다.
최다솔님은 파랑을 조금 좋아합니다.
한재희님은 노랑을 매우 좋아합니다.

In [178]:
def sub(a,b):
    return a - b
result = sub(a=10, b=3)
print(result)

7

In [176]:
result = sub(b=3, a=10)
print(result)

7

In [179]:
sub(9,10)

-1

In [193]:
def circle_area(r):
    area = 3.14 * (r ** 2)    #r제곱dp 3.14를 곱한다.
    print('반지름 : %d, 원의 면적 : %.2f'%(r, area))
    return area
while True:
    
  
    
    radius = int(input('원의 반지름을 입력하세요. : '))
    result = circle_area(radius)
    if radius == '':
        break

원의 반지름을 입력하세요. : 20
반지름 : 20, 원의 면적 : 1256.00
원의 반지름을 입력하세요. : 10
반지름 : 10, 원의 면적 : 314.00
원의 반지름을 입력하세요. :

ValueError: invalid literal for int() with base 10: ''

In [195]:
def circle_area(r):
    area = 3.14 * (r ** 2)    #r제곱dp 3.14를 곱한다.
    
    return area
while True:
    
  
  
    radius = int(input('원의 반지름을 입력하세요. : '))
    result = circle_area(radius)
    print('반지름 : %d, 원의 면적 : %.2f'%(radius, area))
    if radius == '':
        break

원의 반지름을 입력하세요. : 10

NameError: name 'area' is not defined

TypeError: %d format: a number is required, not str

In [217]:
def su(start, end):
    
    
    total = 0
    for i in range(start,end+1):
        total += i
    print(f'{start}~{end}의 정수 합계 : {total}')
su(10,100)
su(100,1000)
su(1000,10000)

10~100의 정수 합계 : 5005
100~1000의 정수 합계 : 495550
1000~10000의 정수 합계 : 49505500

In [228]:
def su(a,b):
    s=0
    
    for i in range(a,b+1):
        s+=i
    print('%d~%d의 정수의 합계 : %d'%(a,b,s))
    return s
    
su(10,100)
su(100,1000)
su(1000,10000)

10~100의 정수의 합계 : 5005
100~1000의 정수의 합계 : 495550
1000~10000의 정수의 합계 : 49505500

49505500

In [232]:
def sum_besu(start, end, besu):
    total = 0
    for i in range(start, end+1):
        if i % besu == 0:
            total += i
    return total
    
    
start = int(input('시작 수를 입력하세요. :'))
end = int(input('끝 수를 입력하세요. : '))
besu = int(input('합계를 구할 배수를 입력하세요. : '))
result = sum_besu(start, end, besu)
print('%d~%d의 정수 중 %d의 배수의 합 : %d'%(start, end, besu,result))

시작 수를 입력하세요. :10
끝 수를 입력하세요. : 100
합계를 구할 배수를 입력하세요. : 7
10~100의 정수 중 7의 배수의 합 : 728

In [2]:
num1 = int(input('첫 번째 수를 입력하세요.'))
num2 = int(input('두 번째 수를 입력하세요.'))

def compute_max_gong(a,b):
    li = []
    if a > b:
        for i in range(1,a+1):
            if a % i == 0 and b % i ==0:
                li.append(i)
            
    elif a < b:
        for i in range(1,b+1):
            if a % i == 0 and b % i ==0:
                li.append(i)
           
                
    li.sort()
    result = li[-1]
    return result

max_gong = compute_max_gong(num1,num2)

print('%d와 %d의 최대공약수 : %d'%(num1, num2,max_gong))

첫 번째 수를 입력하세요.57
두 번째 수를 입력하세요.87
57와 87의 최대공약수 : 3

In [1]:

x = int(input('첫 번째 수를 입력하세요.'))
y = int(input('두 번째 수를 입력하세요.'))
max_gong = compute_max_gong(x,y)

if x<y:
    small = x
else:
    small = y
    
for i in range(1,small+1):
    if x % i ==0 and y %i == 0:
        result = i
    return result

첫 번째 수를 입력하세요.33
두 번째 수를 입력하세요.11

NameError: name 'compute_max_gong' is not defined

In [15]:
def adder(*args):
    print('*args:',args)
    
type(adder(10,12,13))

*args: (10, 12, 13)

NoneType

In [16]:
adder([10,12])

*args: ([10, 12],)

In [14]:
adder(10,12,13,14,15)

*args: (10, 12, 13, 14, 15)

In [9]:
def adder(*num):
    result = 0
    for n in num:
        result += n
    print('sum:',result)
    
adder(10,12,13)

sum: 35

In [10]:
adder(10,12)

sum: 22

In [11]:
adder(10,12,13,14,15)

sum: 64

In [18]:
def average(*args):
    total = 0
    avg = 0
    for i in args:
        total += i
    avg = total / len(args)
    print('%d과목의 평균 : %.2f'%(len(args), avg))

average(80,90,100)

3과목의 평균 : 90.00

In [19]:
average(75,80,94,78)

4과목의 평균 : 81.75

In [20]:
average(80,73,76,86,82)

5과목의 평균 : 79.40