In [1]:
class MyClass:
    
    def one(self, number):
        self.number = number #클래스 속성 ->인스턴스 속성으로 바꿔줘야 함
    
    def inc_10(self):
        self.number += 10
    
    def inc_20(self):
        self.number += 20

In [2]:
m3 = MyClass()
m4 = MyClass()

In [3]:
m3.one(100)

In [4]:
m4.one(100)

In [5]:
m5 = MyClass()

In [6]:
m5.one(0)

In [8]:
m5.inc_10()

In [9]:
m5.number

10

In [10]:
type(m5)

__main__.MyClass

In [27]:
class Encore:
    
    def f(self,a,b):
        self.a = a
        self.b = b 

x = Encore()
y = Encore()
x.f(5,8)
y.f(6,7)

In [32]:
print(x.a)
print(x.b)

5
8

In [34]:
print(y.a)
print(y.b)

6
7

In [38]:
class Woman:
    address = '서울'
    def __init__(self, name):
        self.name = name
w1 = Woman('영희')
w2 = Woman('경희')

print(w1.name, id(w1.name))
print(w2.name, id(w2.name))

영희 140561302744688
경희 140561285124912

In [39]:
print(w1.address, id(w1.address))
print(w2.address, id(w2.address))

서울 140561302672176
서울 140561302672176

In [40]:
print(Woman.address, id(Woman.address))

서울 140561302672176

In [44]:
print(Woman.name)

AttributeError: type object 'Woman' has no attribute 'name'

In [47]:
Woman.address = "부산"
print(w1.address, id(w1.address))
print(w2.address, id(w2.address))
print(Woman.address, id(Woman.address))

부산 140560455612912
부산 140560455612912
부산 140560455612912