In [3]:
age = 20
print('나는 %d입니다.' %age)

나는 20입니다.

In [4]:
name = '이승원'
print('나는 %s 입니다' %name)

나는 이승원 입니다

In [22]:
year = 2022 
month = 11
day = 5
print('%d-%02d-%02d' %(year, month, day))

2022-11-05

In [37]:
height = 172.5
print('키는 %.2f입니다.'%height)

키는 172.50입니다.

In [1]:
age = 20
print('나는 %d입니다.' %age)

name = '이승원'
print('나는 %s 입니다' %name)

year = 2022 
month = 11
day = 5
print('%d-%02d-%02d' %(year, month, day))

height = 172.5
print('키는 %.2f입니다.'%height)

나는 20입니다.
나는 이승원 입니다
2022-11-05
키는 172.50입니다.

In [62]:
num = 'three'
e = 3
pi = 3.14
str = 'wow'

print('I have %s children' %num)
print('I hava %d children' %e)
print('I hava %.2f children %s' %(pi, str))

I have three children
I hava 3 children
I hava 3.14 children wow

In [1]:
print('This is %s True!' %100%)

SyntaxError: invalid syntax (2583178773.py, line 1)

In [67]:
print('This is %s True!' %'100%')

This is 100% True!

In [3]:
print('This is %d%% True!' %100)

This is 100% True!

In [5]:
print('This is %s True!' %'100%')
print('This is %d%% True!' %100)

This is 100% True!
This is 100% True!

In [66]:
word = 'good'
print('"%10s"' %word)

"      good"

In [60]:
word = 'good'
print('"%-10s"' %word)

"good      "

In [10]:
word = 'good'

print('"%10s"' %word)

print('"%-10s"' %word)

pi = 3.141592

print("%20.4f" %pi)

print("%-20.4f" %pi)

"      good"
"good      "
              3.1416
3.1416

In [58]:
pi = 3.141592
print("%20.2f" %pi)

                3.14

In [7]:
pi = 3.141592
print("%-20.2f" %pi)

3.14

In [48]:
name = '최시연'
age = 33
eyesight = 1.5
print('이름 : %s, 나이 : %d세, 시력 : %.1f' %(name, age, eyesight))

이름 : 최시연, 나이 : 33세, 시력 : 1.5

In [13]:
name = '최시연'
age = 33
eyesight = 1.5

a = '이름 : {}'.format(name)
b = '나이 : {}'.format(age)
c = '시력 : {}'.format(eyesight)
print(a,",",b,',',c)

이름 : 최시연 , 나이 : 33 , 시력 : 1.5

In [14]:
print('I have {} children' .format(3))
print('I have {} children' .format('three'))

g = 3
print('I have {} children' .format(g))
print('I have {} children {}' .format(g, 'wow'))
print('I have {1} children {0}' .format(g, 'wow'))

I have 3 children
I have three children
I have 3 children
I have 3 children wow
I have wow children 3

In [78]:
print('I have {} children' .format('three'))

I have three children

In [79]:
g = 3
print('I have {} children' .format(g))

I have 3 children

In [49]:
g = 3
print('I have {1} children {0}' .format(g, 'wow'))

I have wow children 3

In [17]:
print("'{0:<30}'" .format('good'))
print("'{0:>20}'" .format('good'))
print("'{0:^45}'" .format('good'))
print("'{0:!^30}'" .format('good'))
print("'{0:*>50}'" .format('good'))

'good                          '
'                good'
'                    good                     '
'!!!!!!!!!!!!!good!!!!!!!!!!!!!'
'**********************************************good'

In [107]:
print("'{0:*>20}'" .format('good'))

'****************good'

In [88]:
print("'{0:^20}'" .format('good'))

'        good        '

In [45]:
print("'{0:$^20}'" .format('good'))

'$$$$$$$$good$$$$$$$$'

In [60]:
a = 4.5560
b = 'Agrentine Pesos'
c = 1
print('{1:*^20.2f} {0} are worth US${2}'.format(b, a, c))

print('{{우리집}}에 {0:$^20} 놀러와요'.format('자주'))

********4.56******** Agrentine Pesos are worth US$1
{우리집}에 $$$$$$$$$자주$$$$$$$$$ 놀러와요

In [39]:
a = 3
b = 'wow'

print(f'I have {b} children {a+2}')

I have wow children 5

{add}

In [55]:
a = 3
b = 'wow'

print(f'I have {b} children {a+2}')

a = '{day}'
print(f'{{good}}{a}')

I have wow children 5
{good}{day}

In [47]:
print(f'{good}''{day}')

NameError: name 'good' is not defined

In [54]:
print(f'{{frlskjh}}''{skjdhf}''{djkfhsdfu}')

{frlskjh}{skjdhf}{djkfhsdfu}

In [32]:
print(f'{}''goog)

SyntaxError: EOL while scanning string literal (2492299766.py, line 1)

In [45]:
print(f'{{good}}''{day}')

{good}{day}

In [59]:
a = '{day}'
print(f'{a}''{dood}')

{day}{dood}

In [69]:
a = 3
b = 'wow'

print(f'I have {b} children {a+2}')		#변수 a, b를 {}사이에 넣어서 바로 출력이 가능하다,
										#int타입의 경우 {}안에서 연산 후 출력 가능


a = '{day}'
print(f'{{good}}''{a}')		#print(f'{good}''{a})의 경우 'good'은 변수로 선언 된적이 없으므로 에러가 발생하지만
							#{{}}처럼 중 괄호를 두번 감싸주게되면 '{good}'으로 출력이 되며 그 다음 문자들은 
                            #중괄호를 두번씩 포장할 필요가 없어진다.		

print(f'{{good}}''{day}''{닝ㄹ해ㅑㄴㄷ}') 

print(type(f'{1123}'))

I have wow children 5
{good}{a}
{good}{day}{닝ㄹ해ㅑㄴㄷ}
<class 'str'>

In [61]:
a = '{day}'
print(f'{{good}}''{a}')

{good}{a}

In [134]:
print(f'{{good}}''{day}')

{good}{day}

In [132]:
del day

In [138]:
sa = "Korean culture"
u = "u"
print(sa.count(u))

2

In [73]:
print(f'{'good'}')

SyntaxError: f-string: expecting '}' (4179881717.py, line 1)

In [74]:
print(f'{good}')

NameError: name 'good' is not defined

In [ ]:
#여기서 부터 블로그 2부

In [ ]:
#여기서 부터 블로그 2부

In [ ]:
#여기서 부터 블로그 2부

In [3]:
sa = "korean Kculture"
K = "K"
print(sa.find(K))
print(sa.index(K))

7
7

In [150]:
sa = "Korean culture"
print(' '.join(sa))

K o r e a n   c u l t u r e

In [155]:
num = '1234567890'
print(','.join(num))

1,2,3,4,5,6,7,8,9,0

In [182]:
sa = "Korean culture"

print(sa.upper())
print(sa.lower())
print('     Korean     '.strip())
print('     Korean     '.rstrip())
print('     Korean     '.lstrip())
print(sa.replace('Korean', 'American'))
print(sa.split())
print('Korean & culture'.split(sep='&'))

KOREAN CULTURE
korean culture
Korean
     Korean
Korean
American culture
['Korean', 'culture']
['Korean ', ' culture']

In [254]:
print('C:\\nano')
print(r'C:\nano')

C:\nano
C:\nano

In [262]:
IU = "990316-2030998"
print(IU.split(sep="-"))
print(IU[:6]) 
print(IU[-7:])
print(IU[7])
print(IU[7:8])

['990316', '2030998']
990316
2030998
2
2

In [200]:
print("a:b:c:d".replace(':', '@'))

a@b@c@d

In [4]:
print("a&b&cd".split(sep='&'))
print("a&b&cd".split('&'))

['a', 'b', 'cd']
['a', 'b', 'cd']

In [340]:
del str

In [329]:
print(type(100))

<class 'int'>

In [328]:
num = 100
print(num)
print(type(num))

num_str = "{}".format(num)
print(num_str)
print(type(num_str))

100
<class 'int'>
100
<class 'str'>

In [61]:
B = 100

print(B)
type(B)
str(B)
print(B)
print(str(B))
print(type(str(B)))
print(type(B))

100
100
100
<class 'str'>
<class 'int'>

In [62]:
str

str

In [270]:
game = "짝홀짝홀짝홀"
print(game.replace('짝',""))

print(game[1::2])
print(game[0::2])
print(game[0::3])

홀홀홀
홀홀홀
짝짝짝
짝홀

In [219]:
PN = "010-1234-5678"
print(PN.replace("-",""))

01012345678

In [271]:
print(PN[0:3],PN[4:8], PN[-4:])

010 1234 5678

In [272]:
print('https://www.samsung.com'[20:])
print('https://www.samsung.com'[-3:])

com
com

In [284]:
### list type

In [286]:
a = []
print(a)
print(type(a))
b = [1,2,3,4,5]
print(b)
print(type(b))
c = ['red', 'blue', 'yellow']
print(c)
print(type(c))
d = [1,2,'red', 'blue']
print(d)
print(type(d))
e = [1,2,'[red, blue]']
print(e)
print(type(e))

[]
<class 'list'>
[1, 2, 3, 4, 5]
<class 'list'>
['red', 'blue', 'yellow']
<class 'list'>
[1, 2, 'red', 'blue']
<class 'list'>
[1, 2, '[red, blue]']
<class 'list'>

In [287]:
print(b[2:1])
print(b[1:-1])
print(b[1:])
print(b[:1])
print(b[:])

[]
[2, 3, 4]
[2, 3, 4, 5]
[1]
[1, 2, 3, 4, 5]

In [289]:
L = [['a','b'],[1,2,3]]
print('L :', L)
print(L[0][0])
print(L[1][1])
print(L[1][2])

L : [['a', 'b'], [1, 2, 3]]
a
2
3

In [291]:
b = [1,2,3,4,5]

print(b[0])
print(b[0]+b[2])
print(b[-1])

1
4
5

In [308]:
new_a = [1,2,3,4,5,['a','b','c',[100,101,102], 'd'],7,8,9]

print(new_a)

print(new_a[0])

print(new_a[-1])

print(new_a[5])

print(new_a[5][2])

print(new_a[5][3])

print(new_a[5][3][1])

[1, 2, 3, 4, 5, ['a', 'b', 'c', [100, 101, 102], 'd'], 7, 8, 9]
1
9
['a', 'b', 'c', [100, 101, 102], 'd']
c
[100, 101, 102]
101

In [309]:
b = [1,2,3,4,5]
print(b[:4])

[1, 2, 3, 4]

In [313]:
c = "12345"
print(c[0:4])

1234

In [314]:
print(b[3:])

[4, 5]

In [367]:
print(new_a[:6])
print(new_a[0],new_a[2],new_a[4])
print(new_a[0],new_a[3])
print(new_a[0],new_a[4])
print(new_a[::2])
print(new_a[:7:2])
print(new_a[:4:3])
print(new_a[5][3][0::2])
print(new_a[5][3][::2])

[1, 2, 3, 4, 5, ['a', 'b', 'c', [100, 101, 102], 'd']]
1 3 5
1 4
1 5
[1, 3, 5, 7, 9]
[1, 3, 5, 7]
[1, 4]
[100, 102]
[100, 102]

In [391]:
a = [1,2,3,4]
b = [6,7,8,9]
k = [12345678]
m = '12345678'
c = 'good'
new_c = ['good']


print(a+b)
print(a*2)
print(len(a))
print(len(k))
print(len(m))
#print(b+c) -- 문자열은 리스트와 더하기가 안됨
print(b+new_c)

[1, 2, 3, 4, 6, 7, 8, 9]
[1, 2, 3, 4, 1, 2, 3, 4]
4
1
8
[6, 7, 8, 9, 'good']

In [407]:
a = [1,2,3,4]
a[3] = 9
print(a[3])

9

In [408]:
n = '1234'
print(n.replace('4', '9'))

1239

In [462]:
a = [1,2,3,4, [a,b,c]]
b = [6,7,8,9,3,4]

print(len(a))
#print(sum(a)) -- error
print(sum(b))
print(max(b))
print(min(b))

b.sort()
print(b[0])
print(b[-1])
b.remove(b[0])
print(b)
del(b[0])

5
37
9
3
3
9
[4, 6, 7, 8, 9]

NameError: name 'str' is not defined

In [464]:

b=[1,2,3,4]
del(b[0])
print(b)
b=[1,2,3,4]
del(b[:3])
print(b)
b =[1,2,3,4]
str(b[3])
print(type(str(b[3])))

[2, 3, 4]
[4]
<class 'str'>

In [469]:
b = ['6','7','8','9']
b.append('10')
b.append(['11','12'])
b.extend(['11','12'])
print(b)

['6', '7', '8', '9', '10', ['11', '12'], '11', '12']

In [470]:
c = ['6','9','8','7']
c.sort()
print(c)
c.sort(reverse=True)
print(c)

['6', '7', '8', '9']
['9', '8', '7', '6']

In [471]:
d = ['x','a','d','z']
d.sort()
print(d)
d.sort(reverse=True)
print(d)

['a', 'd', 'x', 'z']
['z', 'x', 'd', 'a']

In [484]:
c = ['6','4','9','2','9','8',]
c.reverse()
print(c)
c.insert(4,'10')
print(c)
c.insert(0,'5')
print(c)
print(c.index('9'))

['8', '9', '2', '9', '4', '6']
['8', '9', '2', '9', '10', '4', '6']
['5', '8', '9', '2', '9', '10', '4', '6']
2

In [498]:
e = ['3','4','3','4','5']
e.clear()
print(e)

e = ['3','4','3','4','5']
e.remove('4') #첫번째 '4'를 삭제
e.remove('4') #다음 '4'를 삭제
print(e)

e = ['3','4','3','4','5']
e.pop() #default값이 index -1이라서 기본적으로 맨 마지막 데이터를 뽑아감
print(e)

[]
['3', '3', '5']
['3', '4', '3', '4']

In [500]:
c = [6,6,6,6,7,8,9,6]
c.count(6)

5

In [501]:
c = [6,6,6,6,7,8,9,6]
c.append(4)
c.extend([5])
print(c)

[6, 6, 6, 6, 7, 8, 9, 6, 4, 5]

In [518]:
print(" ".join(['we','are','the','world']))

we are the world

In [510]:
a = [8,8,8,]

a+[1,5]

[8, 8, 8, 1, 5]

In [513]:
a.extend(['cola'])
print(a)

[8, 8, 8, 'cola', 'cola', 'cola']

In [520]:
m_r =[['순위', '영화'],['','알라딘'],['','토이스토리'],['','기생충']]

m_r.append(['','롱 리브 더 킹']) #리스트 마지막에 롱 리브 더 킹을 추가

m_r.insert(3,['','슈퍼맨 리턴즈']) #토이스토리와 기생충 사이에 '슈퍼맨 리턴즈 추가'
print(m_r)

m_r.remove(['','기생충'])
print(m_r)

[['순위', '영화'], ['', '알라딘'], ['', '토이스토리'], ['', '슈퍼맨 리턴즈'], ['', '기생충'], ['', '롱 리브 더 킹']]
[['순위', '영화'], ['', '알라딘'], ['', '토이스토리'], ['', '슈퍼맨 리턴즈'], ['', '롱 리브 더 킹']]

In [522]:
a = ['BTS','엑소', '뉴이스트']
b = ['blackpink', '아이즈원', '트와이스']

print(a+b)

['BTS', '엑소', '뉴이스트', 'blackpink', '아이즈원', '트와이스']

In [526]:
num = [1,2,3,4,5,6,7]
print(max(num))
print(min(num))

7
1

In [527]:
num = [1,2,3,4,5]
sum(num)

15

In [2]:
cook = ["피자","김밥","만두","양념치킨","족발"]
len(cook)

5

In [4]:
num = [1,2,3,4,5]
a = sum(num) 
print(a/len(num))

3.0

In [6]:
price = ['20190625', 1000, 3000, 4000, 5000, 7000]
print(price[1:])

[1000, 3000, 4000, 5000, 7000]

In [12]:
num = [1,2,3,4,5,6,7,8,9,10]
print(num[0::2])
print(num[1::2])

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [19]:
num = [1,2,3,4,5]
num.sort(reverse=True)
print(num)
num = [1,2,3,4,5]
num.reverse()
print(num)

SyntaxError: invalid syntax (1886244930.py, line 8)

In [21]:
num = [1,2,3,4,5]
print(num[::-1])

[5, 4, 3, 2, 1]

In [26]:
string = '구글/아마존/페이스북'
wish = string.split('/')
print(wish)
wish.reverse()
print(wish)

['구글', '아마존', '페이스북']
['페이스북', '아마존', '구글']

In [23]:
string = '구글/아마존/페이스북'
wish = string.replace('/',',')
print(wish)

구글,아마존,페이스북