In [1]:
class Encore:
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [3]:
mem1 = Encore('엔코아', 20)

In [4]:
mem1.age

20

In [5]:
mem1.name

'엔코아'

In [39]:
class Encore:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def showMember(self):
        print('이름 : %s' %self.name)
        print('나이 : %d' %self.age)

In [40]:
mem2 = Encore('이승원', 32)

In [41]:
mem2.showMember()

이름 : 이승원
나이 : 32

In [42]:
mem3 = Encore('안지영', 20)

In [44]:
mem3.showMember()

이름 : 안지영
나이 : 20

In [47]:
members = [Encore('이승원', 32),
          Encore('안지영', 20)]

In [46]:
members[0].showMember()

이름 : 이승원
나이 : 32

In [48]:
for i in members:
    i.showMember()

이름 : 이승원
나이 : 32
이름 : 안지영
나이 : 20

In [49]:
class Calculator:
    
    result = 0
    
    def __init__(self, num):
        self.num = num
    
    def add(a):
        global result
        result += a
        return result

In [50]:
cal1 = Calculator()
cal2 = Calculator()

TypeError: __init__() missing 1 required positional argument: 'num'

In [77]:
class Calculator:
    result = 0
    def add(self, number):
        self.number = number

    def inc(self):
        global result
        result += self
        return result

In [78]:
cal1 = Calculator()
cal2 = Calculator()

In [79]:
print(cal1.add(3))
print(cal1.add(4))
print(cal2.add(3))
print(cal2.add(7))

None
None
None
None

In [84]:
class Calculator:
    
    def __init__(self):
        self.result = 0

    def add(self, num):
        self.result += num
        return self.result

In [85]:
cal1 = Calculator()
cal2 = Calculator()

In [86]:
print(cal1.add(3)) #self.result = 0 > add +3 > self.result = 3
print(cal1.add(4)) #self.result = 3 > add +4 > self.result = 7
print(cal2.add(3)) #self.result = 0 > add +3 > self.result = 3
print(cal2.add(7)) #self.result = 0 > add +7 > self.result = 10

3
7
3
10

In [88]:
class Calculator:
    result = 0
#    def __init__(self):
#        self.result = 0

    def add(self, num):
        Calculator.result += num
        return Calculator.result

In [89]:
cal1 = Calculator()
cal2 = Calculator()

In [90]:
print(cal1.add(3)) #self.result = 0 > add +3 > self.result = 3
print(cal1.add(4)) #self.result = 3 > add +4 > self.result = 7
print(cal2.add(3)) #self.result = 7 > add +3 > self.result = 10
print(cal2.add(7)) #self.result = 10 > add +7 > self.result = 17

3
7
10
17

In [95]:
class Calculator:
    result = 0
#    def __init__(self):
#        self.result = 0

    def add(self, num):
        self.result += num
        return self.result

In [96]:
cal1 = Calculator()
cal2 = Calculator()

In [97]:
print(cal1.add(3)) #self.result = 0 > add +3 > self.result = 3
print(cal1.add(4)) #self.result = 3 > add +4 > self.result = 7
print(cal2.add(3)) #self.result = 0 > add +3 > self.result = 3
print(cal2.add(7)) #self.result = 0 > add +7 > self.result = 10

3
7
3
10

In [105]:
def func():
    print('-'*30)
    print('func() 함수입니다.')
    print('-'*30, '\n')
    
f1 = func()
f2 = func()
print('id of f1 : ', id(f1))
print('id of f2 : ', id(f2),'\n')

class Person:
    def __init__(self):
        self.name = ''
        
    
    def say_hello(self):
        print('-'*30)
        print('안녕하세요.')
        print('id(self) : ', id(self))
        print('self.name : ', self.name)
        print('-'*30, '\n')
p1 = Person()
p2 = Person()
print('id of p1 : ', id(p1))
print('id of p2 : ', id(p2),'\n')
p1.name = 'kim'
p2.name = 'park'
print('p1.name : ', p1.name)
print('p2.name : ', p2.name)
p1.say_hello()
p2.say_hello()

------------------------------
func() 함수입니다.
------------------------------

------------------------------
func() 함수입니다.
------------------------------

id of f1 :  4381498336
id of f2 :  4381498336

id of p1 :  140321682235104
id of p2 :  140322007465888

p1.name :  kim
p2.name :  park
------------------------------
안녕하세요.
id(self) :  140321682235104
self.name :  kim
------------------------------

------------------------------
안녕하세요.
id(self) :  140322007465888
self.name :  park
------------------------------

In [108]:
class Person:    

    def say_hello(self):
        print('-'*30)
        print('안녕하세요.')
        print('id(self) : ', id(self))
        print('self.name : ', self.name)
        print('-'*30, '\n')

In [109]:
p1 = Person()
p2 = Person()
print('id of p1 : ', id(p1))
print('id of p2 : ', id(p2),'\n')

id of p1 :  140321682233760
id of p2 :  140321682233904

In [110]:
p1.name = 'kim'
p2.name = 'park'
print('p1.name : ', p1.name)
print('p2.name : ', p2.name)
p1.say_hello()
p2.say_hello()

p1.name :  kim
p2.name :  park
------------------------------
안녕하세요.
id(self) :  140321682233760
self.name :  kim
------------------------------

------------------------------
안녕하세요.
id(self) :  140321682233904
self.name :  park
------------------------------

In [145]:
class Book:
    def title(self):
        name.book = name
    def book_info_input(author):
        self.author = author
    def book_info_print():
        print('%s/%s'%(name.book, self.author))

<bound method Book.book_info_input of <__main__.Book object at 0x7f9f43232070>>

In [139]:
b1 = Book()
b2 = Book()
b1.title = '메밀꽃 필 무렵'
b2.title = '마지막 잎새'
print('b1.title : ', b1.title)
print('b2.title : ', b2.title)
print(b1.book_info_input())
b1.book_info_input('이효석')
b2.book_info_input('오헨리')
b1.book_info_print()
b2.book_info_print()

b1.title :  메밀꽃 필 무렵
b2.title :  마지막 잎새

TypeError: book_info_input() missing 1 required positional argument: 'author'

In [149]:
class Book:

    def book_info_input(self, writer):
        self.writer = writer
    def book_info_print(self):
        print(f'{self.title}/{self.writer}')

In [150]:
b1 = Book()
b2 = Book()

In [151]:
b1.title = '메밀꽃 필 무렵'
b2.title = '마지막 잎새'
print('b1.title : ', b1.title)
print('b2.title : ', b2.title)

b1.title :  메밀꽃 필 무렵
b2.title :  마지막 잎새

In [152]:
b1.book_info_input('이효석')
b2.book_info_input('오헨리')
b1.book_info_print()
b2.book_info_print()

메밀꽃 필 무렵/이효석
마지막 잎새/오헨리

In [180]:
class Circle:
    pi = 3.141592
    def __init__(self, radius):
        self.radius = radius
    def getArea(self):
        Area = (self.radius ** 2) * Circle.pi
        return Area
    def getCircum(self):
        Circum = (self.radius * 2) * Circle.pi
        return Circum

In [181]:
cir1 = Circle(10)
print('반지름 : %d'%cir1.radius)
print('원의 면적 : %.2f'%cir1.getArea())
print('원주의 길이 : %.2f'%cir1.getCircum())

반지름 : 10
원의 면적 : 314.16
원주의 길이 : 62.83

In [182]:
cir2 = Circle(5)
print('반지름 : %d'%cir2.radius)
print('원의 면적 : %.2f'%cir2.getArea())
print('원주의 길이 : %.2f'%cir2.getCircum())

반지름 : 5
원의 면적 : 78.54
원주의 길이 : 31.42

In [212]:
class SumAvg:
    title = '--3과목 합계와 평균--'
    def __init__(self, name, kor, eng, math):
        self.name = name
        self.kor = kor
        self.eng = eng
        self.math = math
    def getSum(self):
        total = self.kor + self.eng + self.math
        return total
    def getAvg(self):
        return (self.kor + self.eng + self.math) / 3

In [213]:
s1 = SumAvg('강감찬', 85, 90, 83)

print(SumAvg.title)
print('이름 : %s'%s1.name)
print('국어 : %d, 영어 : %d, 수학 : %d'%(s1.kor, s1.eng, s1.math))
print('합계 : %d'%(s1.getSum()))
print('평균 : %.1f'%(s1.getAvg()))

--3과목 합계와 평균--
이름 : 강감찬
국어 : 85, 영어 : 90, 수학 : 83
합계 : 258
평균 : 86.0

In [214]:
class SumAvg:
    title = '--3과목 합계와 평균--'
    def __init__(self, name, kor, eng, math):
        self.name = name
        self.kor = kor
        self.eng = eng
        self.math = math
    def getSum(self):
        total = self.kor + self.eng + self.math
        return total
    def getAvg(self):
        return self.getSum() / 3

In [217]:
s1 = SumAvg('강감찬', 85, 90, 83)

print(SumAvg.title)
print('이름 : %s'%s1.name)
print('국어 : %d, 영어 : %d, 수학 : %d'%(s1.kor, s1.eng, s1.math))
print('합계 : %d'%s1.getSum())
print('평균 : %.1f'%s1.getAvg())

--3과목 합계와 평균--
이름 : 강감찬
국어 : 85, 영어 : 90, 수학 : 83
합계 : 258
평균 : 86.0

In [224]:
s2 = SumAvg('강강강', 85, 94, 83)

In [225]:
s2.getAvg()

87.33333333333333

In [241]:
class Calculator:
    
    def __init__(self):
        self.total = 0
    def some_numbers(self, *args):
        self.args = args
        return self.args
    def total(self):
        for i in some_numbers():
            self.total += i
        return self.total

In [242]:
a = Calculator()
a.some_numbers(2,4,6)
a.total()
print(a.some_numbers())

TypeError: 'int' object is not callable

In [244]:
class Calculator:
    def some_numbers(self, *args):
        self.args = args
    def total(self):
        return sum(self.args)
    


a = Calculator()
a.some_numbers(2,4,6)
a.total()

12

In [245]:
b = Calculator()
b.some_numbers(1,2,3,4,5)
b.total()

15

In [246]:
a.args

(2, 4, 6)

In [247]:
b.args

(1, 2, 3, 4, 5)

In [255]:
class Operation():
    def add(self, num1, num2):
        return num1+num2
    def mul(self, num1, num2):
        return num1*num2
    def sub(self, num1, num2):
        return num1-num2
    def div(self, num1, num2):
        return num1/num2

In [257]:
x = Operation()
f = int(input('첫 번째 수를 입력하세요. : ')) #3
s = int(input('두 번째 수를 입력하세요. : ')) #4

print(x.add(f,s))
print(x.mul(f,s))
print(x.sub(f,s))
print(x.div(f,s))

첫 번째 수를 입력하세요. : 3
두 번째 수를 입력하세요. : 4
7
12
-1
0.75

In [259]:
class Operation():
    def add(self, f, s):
        self.f = f
        self.s = s
        return self.f+self.s
    def mul(self, f, s):
        self.f = f
        self.s = s
        return self.f*self.s
    def sub(self, f, s):
        self.f = f
        self.s = s
        return self.f-self.s
    def div(self, f, s):
        self.f = f
        self.s = s
        return self.f/self.s

In [260]:
x = Operation()
f = int(input('첫 번째 수를 입력하세요. : ')) #3
s = int(input('두 번째 수를 입력하세요. : ')) #4

print(x.add(f,s))
print(x.mul(f,s))
print(x.sub(f,s))
print(x.div(f,s))

첫 번째 수를 입력하세요. : 3
두 번째 수를 입력하세요. : 4
7
12
-1
0.75

In [261]:
class Operation():
    def __init__(self,f,s):
        self.f = f
        self.s = s
    def add(self):       
        return self.f+self.s
    def mul(self):     
        return self.f*self.s
    def sub(self):
        return self.f-self.s
    def div(self):
        return self.f/self.s

In [263]:

f = int(input('첫 번째 수를 입력하세요. : ')) #3
s = int(input('두 번째 수를 입력하세요. : ')) #4
x = Operation(f,s)
print(x.add())
print(x.mul())
print(x.sub())
print(x.div())

첫 번째 수를 입력하세요. : 3
두 번째 수를 입력하세요. : 4
7
12
-1
0.75

In [274]:
class Triangle:
    def __init__(self, width, height):
        self.width = width
        self.height = height
        print('width =',self.width)
        print('height =',self.height)
    def calculation(self):
        return self.width * self.height / 2

In [277]:
t1 = Triangle(3,4)

width = 3
height = 4

In [278]:
t1.calculation()

6.0

In [279]:
t2 = Triangle(10,20)
t2.calculation()

width = 10
height = 20

100.0

In [ ]:
a = 'We are the champions!'
b=a.

In [289]:
class EngSentence:
    def __init__(self, sentence):
        self.sentence = sentence
    def reverse(self):
        return self.sentence[::-1]
    def insertHypen(self):
        return self.sentence.replace(' ', '-')

In [290]:
a = 'We are the champions!'
eng1 = EngSentence(a)
print('역순 : %s'%eng1.reverse())
print('하이픈(-) 삽입 : %s'%eng1.insertHypen())

역순 : !snoipmahc eht era eW
하이픈(-) 삽입 : We-are-the-champions!

In [297]:
class EngSentence:
    def __init__(self, sentence):
        self.sentence = sentence
        self.length = len(sentence)
    def reverse(self):
        tmp = str()
        for i in range(1, self.length+1):
            tmp += self.sentence[-i]            
        return tmp
    def insertHypen(self):
        tmp = str()
        for i in self.sentence:
            if i ==' ':
                tmp += '-'
            else:
                tmp += i
        return tmp

In [298]:
a = 'We are the champions!'
eng1 = EngSentence(a)
print('역순 : %s'%eng1.reverse())
print('하이픈(-) 삽입 : %s'%eng1.insertHypen())

역순 : !snoipmahc eht era eW
하이픈(-) 삽입 : We-are-the-champions!

In [301]:
class Operation():
    def __init__(self, f, s):
        self.f = f
        self.s = s
    def add(self):
        return self.f+self.s
    def mul(self):
        return self.f*self.s
    def sub(self):
        return self.f-self.s
    def div(self):
        return self.f/self.s

In [302]:
class Sample(Operation):
    pass
a = Sample(5,9)
a.add()

14

In [303]:
a.mul()

45

In [304]:
a.sub()

-4

In [305]:
a.div()

0.5555555555555556

In [311]:
class Sample(Operation):
    def squ(self):
        return self.f**self.s

In [313]:
a=Sample(9,3)
a.squ()

729

In [323]:
class Sample(Operation):
        def div(self):
            if self.s == 0:
                return 0
            else:
                return self.f/self.s

In [324]:
a = Sample(4,0)

In [325]:
a.div()

0

In [347]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def printinfo(self):
        print('name:',self.name)
        print('age:', self.age)

In [348]:
p1 = Person('홍길동', 99)
p2 = Person('토끼', 200)

###dd

In [334]:
print(p1.name, p1.age)
print(p2.name, p2.age)

홍길동 99
토끼 200

In [349]:
p1.printinfo()

name: 홍길동
age: 99

In [343]:
p1 = Over('홍길동', 99)

In [345]:
p1.printinfo()

홍길동 99

In [372]:
class Student(Person):
    def __init__(self, name, age, school, major):
        self.name = name
        self.age = age
        self.school = school
        self.major = major
    def printinfo(self):
        print('이름 : ', self.name)
        print('나이 : ', self.age)
        print('학교 : ', self.school)
        print('전공 : ', self.major)

In [373]:
s1 = Student('홍길동', 98, 'encore', 'bigdata')
s2 = Student('토끼', 201, 'encore', 'bigdata')

In [374]:
s1.printinfo()
s2.printinfo()

이름 :  홍길동
나이 :  98
학교 :  encore
전공 :  bigdata
이름 :  토끼
나이 :  201
학교 :  encore
전공 :  bigdata

In [378]:
class Student(Person):
    def __init__(self, name, age, school, major):
        super().__init__(name, age)
        self.school = school
        self.major = major
    def printinfo(self):
        super().printinfo()
        print('학교 : ', self.school)
        print('전공 : ', self.major)

In [379]:
p1 = Student('홍길동', 98, 'encore', 'bigdata')
p2 = Student('토끼', 201, 'encore', 'bigdata')

In [380]:
p1.printinfo()
p2.printinfo()

name: 홍길동
age: 98
학교 :  encore
전공 :  bigdata
name: 토끼
age: 201
학교 :  encore
전공 :  bigdata

In [369]:
s1.printinfo()

name: 홍길동
age: 98

In [409]:
class Father:
    def __init__(self):
        print('Father 생성자')
class Mother:
    def __init__(self):
        print('Mother 생성자')
class Child:
    def __init__(self):
        print('Child 생성자')

In [410]:
f = Father()
m = Mother()
c = Child()

Father 생성자
Mother 생성자
Child 생성자

In [425]:
class Child(Father, Mother):
    def __init__(self):
        super().__init__()
        print('Child 생성자')

In [426]:
c = Child()

Father 생성자
Child 생성자

In [427]:
Child.__mro__

(__main__.Child, __main__.Father, __main__.Mother, object)

In [428]:
class Father:
    def __init__(self):
        print('Father 생성자')
    def getFather(self, father):
        self.father = father
        return self.father
class Mother:
    def __init__(self):
        print('Mother 생성자')
    def getMother(self, mother):
        self.mother = mother
        return self.mother
class Child:
    def __init__(self):
        print('Child 생성자') 
    def getChild(self, child):
        self.child = child
        return self.child

In [430]:
f1 = Father()
m1 = Mother()
c1 = Child()

Father 생성자
Mother 생성자
Child 생성자

In [432]:
print(f1.getFather('아버지'))
print(m1.getMother('어머니'))
print(c1.getChild('자식'))

아버지
어머니
자식

In [433]:
class Child(Father, Mother):
    def __init__(self):
        super().__init__()
        print('Child 생성자') 
    def getChild(self, child):
        self.child = child
        return self.child

In [434]:
c1 = Child()

Father 생성자
Child 생성자

In [441]:
c1.getFather('아버지')

'아버지'

In [439]:
c1.getMother('어머니')

'어머니'

In [437]:
c1.getChild('자식')

'자식'

In [442]:
class Student(Person):
    def __init__(self, name, age, school, major):
        super().__init__(name, age)
        self.school = school
        self.major = major
    def printinfo(self):
        super().printinfo()
        print('학교 : ', self.school)
        print('전공 : ', self.major)
    def __str__(self):
        return f'{self.school}에 {self.major}전공인 나이 {self.age}살인 {self.name}입니다.'

In [443]:
s1 = Student('홍길동', 98, 'encore', 'bigdata')
s2 = Student('토끼', 201, 'encore', 'bigdata')

In [444]:
str(s1)

'encore에 bigdata전공인 나이 98살인 홍길동입니다.'

In [445]:
str(99)

'99'